@import url("general.css");
@import url("../vendor/foundation/css/foundation.css");
@import url("topBar.css");

@font-face {
    font-family: EnterTheGrid;
    src: url("../fonts/Enter-The-Grid.ttf");
}

@font-face {
    font-family: rbn;
    src: url("../fonts/RBN.otf");
}

a {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    overflow: hidden;
    margin: 0;
    background: #1f2023;
}

.fullStars {
    width: 100%;
    /* background-size: cover; */
}

#stars {
    width: 1px;
    margin-top: 0;
    height: 1px;
    background: transparent;
    box-shadow: 1009px 473px #FFF, 1543px 755px #FFF, 324px 1837px #FFF, 1858px 28px #FFF, 566px 790px #FFF, 1901px 1578px #FFF, 1712px 531px #FFF, 1010px 1646px #FFF, 1709px 810px #FFF, 991px 1977px #FFF, 1604px 1607px #FFF, 179px 538px #FFF, 478px 1092px #FFF, 1199px 408px #FFF, 299px 1254px #FFF, 29px 44px #FFF, 1522px 873px #FFF, 1361px 1053px #FFF, 664px 688px #FFF, 1547px 170px #FFF, 238px 750px #FFF, 1283px 1000px #FFF, 1781px 26px #FFF, 63px 473px #FFF, 583px 1972px #FFF, 1169px 1359px #FFF, 715px 688px #FFF, 562px 33px #FFF, 376px 454px #FFF, 926px 1541px #FFF, 1706px 1614px #FFF, 210px 321px #FFF, 168px 759px #FFF, 44px 1442px #FFF, 332px 1447px #FFF, 259px 1145px #FFF, 1503px 1349px #FFF, 1744px 1664px #FFF, 805px 1284px #FFF, 520px 1683px #FFF, 1398px 88px #FFF, 1205px 279px #FFF, 524px 847px #FFF, 1354px 1182px #FFF, 714px 932px #FFF, 230px 1256px #FFF, 1780px 794px #FFF, 1733px 1441px #FFF, 1891px 735px #FFF, 353px 1099px #FFF, 493px 916px #FFF, 584px 67px #FFF, 1896px 1655px #FFF, 483px 808px #FFF, 1901px 1480px #FFF, 51px 425px #FFF, 464px 1966px #FFF, 682px 282px #FFF, 65px 149px #FFF, 847px 914px #FFF, 1242px 836px #FFF, 1892px 1067px #FFF, 1058px 925px #FFF, 725px 1276px #FFF, 64px 1146px #FFF, 1915px 1127px #FFF, 463px 406px #FFF, 674px 132px #FFF, 529px 1907px #FFF, 1818px 1935px #FFF, 1267px 1580px #FFF, 282px 1103px #FFF, 819px 1076px #FFF, 681px 2000px #FFF, 1125px 1033px #FFF, 1998px 103px #FFF, 844px 965px #FFF, 1801px 312px #FFF, 575px 940px #FFF, 1948px 310px #FFF, 251px 1651px #FFF, 271px 1640px #FFF, 249px 1357px #FFF, 532px 1303px #FFF, 1151px 25px #FFF, 1268px 524px #FFF, 1712px 433px #FFF, 1561px 705px #FFF, 1965px 1049px #FFF, 865px 429px #FFF, 901px 1914px #FFF, 1268px 790px #FFF, 1449px 1508px #FFF, 1851px 1773px #FFF, 1296px 903px #FFF, 1198px 88px #FFF, 1030px 1588px #FFF, 1401px 395px #FFF, 279px 816px #FFF, 908px 1772px #FFF, 1969px 576px #FFF, 519px 292px #FFF, 937px 863px #FFF, 1206px 1785px #FFF, 63px 1946px #FFF, 20px 1058px #FFF, 1040px 265px #FFF, 1199px 968px #FFF, 366px 1061px #FFF, 337px 1653px #FFF, 615px 945px #FFF, 1221px 1759px #FFF, 443px 239px #FFF, 1890px 314px #FFF, 1299px 1099px #FFF, 1519px 555px #FFF, 1557px 1609px #FFF, 1154px 128px #FFF, 111px 1603px #FFF, 255px 1019px #FFF, 476px 334px #FFF, 1338px 1309px #FFF, 1761px 1600px #FFF, 424px 71px #FFF, 1368px 674px #FFF, 458px 1518px #FFF, 1868px 908px #FFF, 1323px 560px #FFF, 1369px 1776px #FFF, 1764px 887px #FFF, 717px 795px #FFF, 1033px 353px #FFF, 1125px 1332px #FFF, 1257px 227px #FFF, 1853px 733px #FFF, 683px 1144px #FFF, 1927px 1914px #FFF, 1880px 934px #FFF, 1482px 1456px #FFF, 179px 710px #FFF, 1591px 1908px #FFF, 1331px 1871px #FFF, 1914px 1675px #FFF, 892px 548px #FFF, 345px 521px #FFF, 1513px 1849px #FFF, 504px 1020px #FFF, 1541px 1960px #FFF, 1770px 1483px #FFF, 1391px 60px #FFF, 762px 16px #FFF, 1475px 332px #FFF, 1316px 1753px #FFF, 419px 1395px #FFF, 1498px 1007px #FFF, 1169px 124px #FFF, 1096px 591px #FFF, 620px 82px #FFF, 790px 1990px #FFF, 1479px 673px #FFF, 925px 875px #FFF, 1105px 1747px #FFF, 1149px 397px #FFF, 1996px 370px #FFF, 1731px 89px #FFF, 329px 85px #FFF, 332px 237px #FFF, 425px 568px #FFF, 646px 1159px #FFF, 1584px 1753px #FFF, 1955px 1773px #FFF, 1597px 133px #FFF, 522px 813px #FFF, 525px 1986px #FFF, 1106px 1257px #FFF, 150px 513px #FFF, 361px 1926px #FFF, 1600px 1741px #FFF, 29px 1607px #FFF, 1896px 985px #FFF, 528px 98px #FFF, 1886px 1155px #FFF, 1335px 1275px #FFF, 685px 1059px #FFF, 435px 1831px #FFF, 240px 1102px #FFF, 1350px 652px #FFF, 1350px 353px #FFF, 1854px 578px #FFF, 864px 746px #FFF, 948px 851px #FFF, 1435px 1053px #FFF, 1480px 473px #FFF, 1670px 580px #FFF, 1915px 1067px #FFF, 1052px 1474px #FFF, 862px 348px #FFF, 1890px 684px #FFF, 1116px 1133px #FFF, 1797px 1086px #FFF, 1231px 1745px #FFF, 1226px 1095px #FFF, 1062px 444px #FFF, 296px 797px #FFF, 821px 758px #FFF, 1064px 15px #FFF, 1780px 1463px #FFF, 652px 756px #FFF, 1208px 1602px #FFF, 695px 1316px #FFF, 1450px 1733px #FFF, 1286px 1736px #FFF, 1096px 2000px #FFF, 739px 1751px #FFF, 1889px 1839px #FFF, 248px 624px #FFF, 1531px 481px #FFF, 570px 832px #FFF, 1491px 1281px #FFF, 1504px 1740px #FFF, 1141px 1586px #FFF, 192px 198px #FFF, 1064px 1069px #FFF, 1173px 1367px #FFF, 78px 591px #FFF, 843px 468px #FFF, 1876px 1114px #FFF, 587px 1511px #FFF, 1939px 340px #FFF, 1665px 1272px #FFF, 1564px 1569px #FFF, 530px 339px #FFF, 885px 1788px #FFF, 622px 303px #FFF, 978px 1643px #FFF, 1198px 154px #FFF, 1578px 466px #FFF, 1738px 592px #FFF, 575px 1863px #FFF, 45px 604px #FFF, 1037px 1343px #FFF, 1987px 1489px #FFF, 275px 491px #FFF, 203px 1200px #FFF, 545px 1926px #FFF, 1331px 559px #FFF, 240px 1846px #FFF, 12px 738px #FFF, 1206px 11px #FFF, 1852px 516px #FFF, 1101px 671px #FFF, 652px 673px #FFF, 655px 693px #FFF, 1576px 1833px #FFF, 1091px 1421px #FFF, 847px 1100px #FFF, 1083px 918px #FFF, 400px 474px #FFF, 739px 1838px #FFF, 1419px 1316px #FFF, 318px 1604px #FFF, 1108px 567px #FFF, 644px 1702px #FFF, 987px 237px #FFF, 590px 581px #FFF, 1557px 321px #FFF, 445px 1888px #FFF, 1990px 1517px #FFF, 748px 576px #FFF, 1073px 1977px #FFF, 1078px 219px #FFF, 590px 1490px #FFF, 1171px 216px #FFF, 1449px 11px #FFF, 1541px 372px #FFF, 52px 1566px #FFF, 1365px 171px #FFF, 1717px 90px #FFF, 473px 769px #FFF, 904px 1018px #FFF, 184px 1833px #FFF, 1722px 1575px #FFF, 917px 1081px #FFF, 1284px 1465px #FFF, 722px 623px #FFF, 1770px 1997px #FFF, 1622px 1576px #FFF, 502px 1190px #FFF, 34px 1678px #FFF, 27px 1737px #FFF, 612px 596px #FFF, 1360px 764px #FFF, 1511px 1982px #FFF, 826px 1694px #FFF, 293px 1932px #FFF, 1081px 635px #FFF, 342px 1582px #FFF, 203px 1287px #FFF, 749px 646px #FFF, 1901px 330px #FFF, 79px 301px #FFF, 610px 673px #FFF, 190px 1178px #FFF, 1898px 1013px #FFF, 1716px 1163px #FFF, 143px 1587px #FFF, 655px 1558px #FFF, 1536px 1635px #FFF, 851px 540px #FFF, 45px 118px #FFF, 1430px 1703px #FFF, 623px 493px #FFF, 194px 1902px #FFF, 1816px 347px #FFF, 1504px 1637px #FFF, 1694px 170px #FFF, 1909px 948px #FFF, 827px 1903px #FFF, 1747px 1278px #FFF, 1197px 1815px #FFF, 426px 307px #FFF, 947px 1602px #FFF, 1447px 1503px #FFF, 932px 870px #FFF, 511px 102px #FFF, 231px 367px #FFF, 971px 1332px #FFF, 1884px 1377px #FFF, 1475px 1541px #FFF, 660px 1457px #FFF, 1115px 1344px #FFF, 835px 1718px #FFF, 1312px 1690px #FFF, 861px 694px #FFF, 476px 1203px #FFF, 581px 1202px #FFF, 979px 718px #FFF, 1744px 877px #FFF, 1383px 350px #FFF, 1266px 580px #FFF, 833px 1590px #FFF, 1175px 738px #FFF, 301px 1932px #FFF, 1123px 802px #FFF, 748px 1133px #FFF, 1725px 217px #FFF, 1785px 748px #FFF, 883px 466px #FFF, 90px 702px #FFF, 1041px 1369px #FFF, 213px 928px #FFF, 1781px 837px #FFF, 1607px 1328px #FFF, 806px 213px #FFF, 976px 1357px #FFF, 1503px 1002px #FFF, 100px 1008px #FFF, 1475px 1532px #FFF, 1762px 1908px #FFF, 1250px 865px #FFF, 1652px 1423px #FFF, 1678px 1289px #FFF, 198px 817px #FFF, 1288px 1341px #FFF, 1684px 1914px #FFF, 552px 368px #FFF, 919px 1142px #FFF, 838px 1672px #FFF, 1169px 333px #FFF, 583px 1184px #FFF, 129px 806px #FFF, 382px 150px #FFF, 1814px 1065px #FFF, 1444px 589px #FFF, 882px 1958px #FFF, 726px 1965px #FFF, 1272px 860px #FFF, 1820px 1818px #FFF, 1879px 552px #FFF, 134px 440px #FFF, 1838px 506px #FFF, 1363px 615px #FFF, 798px 1124px #FFF, 1695px 1363px #FFF, 34px 363px #FFF, 1824px 314px #FFF, 1368px 1777px #FFF, 195px 1014px #FFF, 899px 1832px #FFF, 787px 1893px #FFF, 1828px 347px #FFF, 1233px 339px #FFF, 1310px 1828px #FFF, 772px 486px #FFF, 477px 1572px #FFF, 1173px 501px #FFF, 1906px 18px #FFF, 438px 745px #FFF, 771px 1612px #FFF, 153px 115px #FFF, 345px 517px #FFF, 1717px 375px #FFF, 1711px 1973px #FFF, 1380px 798px #FFF, 1026px 1943px #FFF, 699px 1405px #FFF, 64px 1742px #FFF, 123px 1028px #FFF, 198px 876px #FFF, 443px 1021px #FFF, 546px 140px #FFF, 989px 1468px #FFF, 666px 1119px #FFF, 1539px 529px #FFF, 288px 762px #FFF, 804px 308px #FFF, 1196px 696px #FFF, 1734px 1627px #FFF, 1909px 923px #FFF, 1334px 1543px #FFF, 50px 380px #FFF, 628px 207px #FFF, 1650px 1939px #FFF, 1986px 875px #FFF, 376px 1709px #FFF, 724px 445px #FFF, 1787px 337px #FFF, 1816px 1872px #FFF, 1970px 1127px #FFF, 1793px 1257px #FFF, 516px 1843px #FFF, 1617px 1968px #FFF, 530px 744px #FFF, 842px 831px #FFF, 1127px 1516px #FFF, 339px 590px #FFF, 120px 356px #FFF, 77px 17px #FFF, 1592px 1700px #FFF, 381px 781px #FFF, 682px 1058px #FFF, 198px 1858px #FFF, 265px 925px #FFF, 1018px 416px #FFF, 1550px 1547px #FFF, 299px 332px #FFF, 1816px 1787px #FFF, 578px 752px #FFF, 817px 1944px #FFF, 1081px 1772px #FFF, 1451px 490px #FFF, 383px 344px #FFF, 1120px 984px #FFF, 1242px 822px #FFF, 339px 1360px #FFF, 1487px 1870px #FFF, 1680px 874px #FFF, 1860px 583px #FFF, 225px 1664px #FFF, 875px 1725px #FFF, 156px 1533px #FFF, 747px 1943px #FFF, 1219px 101px #FFF, 1866px 466px #FFF, 856px 741px #FFF, 1001px 1449px #FFF, 1479px 714px #FFF, 1134px 1523px #FFF, 1147px 1362px #FFF, 1774px 444px #FFF, 458px 1379px #FFF, 1415px 1269px #FFF, 1555px 1306px #FFF, 1857px 1867px #FFF, 1759px 755px #FFF, 1485px 1625px #FFF, 507px 884px #FFF, 180px 182px #FFF, 293px 1987px #FFF, 920px 684px #FFF, 1543px 769px #FFF, 436px 1707px #FFF, 35px 16px #FFF, 530px 1089px #FFF, 77px 580px #FFF, 764px 651px #FFF, 880px 1196px #FFF, 1497px 95px #FFF, 473px 383px #FFF, 462px 1588px #FFF, 1797px 1344px #FFF, 1383px 1916px #FFF, 731px 1634px #FFF, 563px 417px #FFF, 1228px 1980px #FFF, 1933px 1751px #FFF, 1956px 969px #FFF, 705px 392px #FFF, 941px 1148px #FFF, 288px 1944px #FFF, 1745px 90px #FFF, 1734px 1860px #FFF, 1503px 1278px #FFF, 4px 1652px #FFF, 886px 913px #FFF, 184px 1373px #FFF, 1821px 455px #FFF, 161px 544px #FFF, 878px 1516px #FFF, 49px 962px #FFF, 94px 1083px #FFF, 1688px 401px #FFF, 1112px 1658px #FFF, 1166px 1607px #FFF, 383px 461px #FFF, 1428px 370px #FFF, 302px 1388px #FFF, 502px 985px #FFF, 549px 1444px #FFF, 1664px 958px #FFF, 711px 494px #FFF, 908px 37px #FFF, 591px 992px #FFF, 1406px 984px #FFF, 1101px 951px #FFF, 1169px 37px #FFF, 1583px 1147px #FFF, 697px 907px #FFF, 83px 695px #FFF, 1538px 769px #FFF, 1970px 1760px #FFF, 931px 502px #FFF, 674px 419px #FFF, 1657px 191px #FFF, 1146px 1400px #FFF, 970px 134px #FFF, 1701px 881px #FFF, 1110px 208px #FFF, 915px 826px #FFF, 1707px 311px #FFF, 70px 1887px #FFF, 1819px 1774px #FFF, 15px 1625px #FFF, 1483px 692px #FFF, 22px 232px #FFF, 1905px 1229px #FFF, 1341px 1277px #FFF, 817px 1661px #FFF, 620px 638px #FFF, 403px 461px #FFF, 729px 676px #FFF, 839px 650px #FFF, 831px 1203px #FFF, 408px 1003px #FFF, 977px 396px #FFF, 372px 208px #FFF, 610px 1609px #FFF, 723px 899px #FFF, 1579px 34px #FFF, 1950px 1781px #FFF, 794px 1473px #FFF, 1265px 558px #FFF, 1500px 1687px #FFF, 968px 1823px #FFF, 1489px 1267px #FFF, 1034px 1902px #FFF, 1356px 612px #FFF, 366px 1453px #FFF, 1807px 1946px #FFF, 1708px 476px #FFF, 1373px 129px #FFF, 1653px 1865px #FFF, 653px 837px #FFF, 970px 816px #FFF, 1826px 1198px #FFF, 1721px 1276px #FFF, 413px 407px #FFF, 429px 1363px #FFF, 191px 1984px #FFF, 629px 156px #FFF, 795px 1819px #FFF, 1715px 677px #FFF, 422px 1275px #FFF, 732px 1553px #FFF, 147px 953px #FFF, 620px 835px #FFF, 35px 225px #FFF, 1780px 1835px #FFF, 715px 1826px #FFF, 1439px 1197px #FFF, 1535px 1108px #FFF, 896px 118px #FFF, 6px 1573px #FFF, 1981px 561px #FFF, 1948px 1184px #FFF, 548px 516px #FFF, 1713px 1181px #FFF, 698px 1359px #FFF, 1918px 1421px #FFF, 271px 1745px #FFF, 1188px 729px #FFF, 318px 1483px #FFF, 677px 1887px #FFF, 1603px 188px #FFF, 589px 1621px #FFF, 289px 627px #FFF, 954px 174px #FFF, 58px 656px #FFF, 303px 1502px #FFF, 812px 444px #FFF, 1020px 1469px #FFF, 1580px 1642px #FFF, 1015px 569px #FFF, 1082px 1846px #FFF, 923px 1531px #FFF, 1968px 1234px #FFF, 1065px 1992px #FFF, 1242px 1919px #FFF, 1204px 662px #FFF, 50px 388px #FFF, 202px 1176px #FFF, 1777px 1557px #FFF, 377px 172px #FFF, 1098px 705px #FFF, 1257px 341px #FFF, 1978px 1754px #FFF, 366px 961px #FFF, 1446px 1078px #FFF, 1051px 1990px #FFF, 516px 703px #FFF, 1102px 581px #FFF, 1373px 129px #FFF, 691px 117px #FFF, 711px 1057px #FFF, 793px 1194px #FFF, 1705px 1824px #FFF, 853px 1106px #FFF, 1093px 983px #FFF, 866px 1652px #FFF, 337px 717px #FFF, 295px 143px #FFF, 462px 1143px #FFF, 292px 922px #FFF, 1836px 1908px #FFF, 176px 1148px #FFF, 656px 85px #FFF, 1460px 813px #FFF, 970px 1482px #FFF, 972px 14px #FFF, 780px 1451px #FFF, 1371px 1967px #FFF, 1931px 381px #FFF, 1502px 261px #FFF, 1513px 1213px #FFF, 358px 1471px #FFF, 1509px 202px #FFF, 910px 701px #FFF, 237px 1046px #FFF, 197px 1470px #FFF, 375px 736px #FFF, 205px 893px #FFF, 881px 1867px #FFF, 907px 1417px #FFF, 1649px 102px #FFF, 1791px 358px #FFF, 522px 36px #FFF, 1008px 386px #FFF, 1386px 635px #FFF, 508px 1456px #FFF, 587px 291px #FFF, 1487px 1135px #FFF, 1599px 1628px #FFF, 856px 1941px #FFF, 470px 1399px #FFF, 1429px 627px #FFF, 1749px 1208px #FFF, 391px 793px #FFF, 1118px 1255px #FFF, 409px 789px #FFF, 1323px 284px #FFF, 769px 294px #FFF, 81px 943px #FFF, 1677px 279px #FFF, 503px 330px #FFF, 738px 1642px #FFF, 192px 1286px #FFF, 1389px 343px #FFF, 983px 1255px #FFF, 855px 877px #FFF, 885px 993px #FFF, 147px 564px #FFF, 532px 809px #FFF, 1780px 613px #FFF, 1538px 696px #FFF, 881px 496px #FFF, 513px 893px #FFF, 916px 1526px #FFF, 1951px 1564px #FFF, 288px 459px #FFF, 800px 1034px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    margin-top: 0;
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1009px 473px #FFF, 1543px 755px #FFF, 324px 1837px #FFF, 1858px 28px #FFF, 566px 790px #FFF, 1901px 1578px #FFF, 1712px 531px #FFF, 1010px 1646px #FFF, 1709px 810px #FFF, 991px 1977px #FFF, 1604px 1607px #FFF, 179px 538px #FFF, 478px 1092px #FFF, 1199px 408px #FFF, 299px 1254px #FFF, 29px 44px #FFF, 1522px 873px #FFF, 1361px 1053px #FFF, 664px 688px #FFF, 1547px 170px #FFF, 238px 750px #FFF, 1283px 1000px #FFF, 1781px 26px #FFF, 63px 473px #FFF, 583px 1972px #FFF, 1169px 1359px #FFF, 715px 688px #FFF, 562px 33px #FFF, 376px 454px #FFF, 926px 1541px #FFF, 1706px 1614px #FFF, 210px 321px #FFF, 168px 759px #FFF, 44px 1442px #FFF, 332px 1447px #FFF, 259px 1145px #FFF, 1503px 1349px #FFF, 1744px 1664px #FFF, 805px 1284px #FFF, 520px 1683px #FFF, 1398px 88px #FFF, 1205px 279px #FFF, 524px 847px #FFF, 1354px 1182px #FFF, 714px 932px #FFF, 230px 1256px #FFF, 1780px 794px #FFF, 1733px 1441px #FFF, 1891px 735px #FFF, 353px 1099px #FFF, 493px 916px #FFF, 584px 67px #FFF, 1896px 1655px #FFF, 483px 808px #FFF, 1901px 1480px #FFF, 51px 425px #FFF, 464px 1966px #FFF, 682px 282px #FFF, 65px 149px #FFF, 847px 914px #FFF, 1242px 836px #FFF, 1892px 1067px #FFF, 1058px 925px #FFF, 725px 1276px #FFF, 64px 1146px #FFF, 1915px 1127px #FFF, 463px 406px #FFF, 674px 132px #FFF, 529px 1907px #FFF, 1818px 1935px #FFF, 1267px 1580px #FFF, 282px 1103px #FFF, 819px 1076px #FFF, 681px 2000px #FFF, 1125px 1033px #FFF, 1998px 103px #FFF, 844px 965px #FFF, 1801px 312px #FFF, 575px 940px #FFF, 1948px 310px #FFF, 251px 1651px #FFF, 271px 1640px #FFF, 249px 1357px #FFF, 532px 1303px #FFF, 1151px 25px #FFF, 1268px 524px #FFF, 1712px 433px #FFF, 1561px 705px #FFF, 1965px 1049px #FFF, 865px 429px #FFF, 901px 1914px #FFF, 1268px 790px #FFF, 1449px 1508px #FFF, 1851px 1773px #FFF, 1296px 903px #FFF, 1198px 88px #FFF, 1030px 1588px #FFF, 1401px 395px #FFF, 279px 816px #FFF, 908px 1772px #FFF, 1969px 576px #FFF, 519px 292px #FFF, 937px 863px #FFF, 1206px 1785px #FFF, 63px 1946px #FFF, 20px 1058px #FFF, 1040px 265px #FFF, 1199px 968px #FFF, 366px 1061px #FFF, 337px 1653px #FFF, 615px 945px #FFF, 1221px 1759px #FFF, 443px 239px #FFF, 1890px 314px #FFF, 1299px 1099px #FFF, 1519px 555px #FFF, 1557px 1609px #FFF, 1154px 128px #FFF, 111px 1603px #FFF, 255px 1019px #FFF, 476px 334px #FFF, 1338px 1309px #FFF, 1761px 1600px #FFF, 424px 71px #FFF, 1368px 674px #FFF, 458px 1518px #FFF, 1868px 908px #FFF, 1323px 560px #FFF, 1369px 1776px #FFF, 1764px 887px #FFF, 717px 795px #FFF, 1033px 353px #FFF, 1125px 1332px #FFF, 1257px 227px #FFF, 1853px 733px #FFF, 683px 1144px #FFF, 1927px 1914px #FFF, 1880px 934px #FFF, 1482px 1456px #FFF, 179px 710px #FFF, 1591px 1908px #FFF, 1331px 1871px #FFF, 1914px 1675px #FFF, 892px 548px #FFF, 345px 521px #FFF, 1513px 1849px #FFF, 504px 1020px #FFF, 1541px 1960px #FFF, 1770px 1483px #FFF, 1391px 60px #FFF, 762px 16px #FFF, 1475px 332px #FFF, 1316px 1753px #FFF, 419px 1395px #FFF, 1498px 1007px #FFF, 1169px 124px #FFF, 1096px 591px #FFF, 620px 82px #FFF, 790px 1990px #FFF, 1479px 673px #FFF, 925px 875px #FFF, 1105px 1747px #FFF, 1149px 397px #FFF, 1996px 370px #FFF, 1731px 89px #FFF, 329px 85px #FFF, 332px 237px #FFF, 425px 568px #FFF, 646px 1159px #FFF, 1584px 1753px #FFF, 1955px 1773px #FFF, 1597px 133px #FFF, 522px 813px #FFF, 525px 1986px #FFF, 1106px 1257px #FFF, 150px 513px #FFF, 361px 1926px #FFF, 1600px 1741px #FFF, 29px 1607px #FFF, 1896px 985px #FFF, 528px 98px #FFF, 1886px 1155px #FFF, 1335px 1275px #FFF, 685px 1059px #FFF, 435px 1831px #FFF, 240px 1102px #FFF, 1350px 652px #FFF, 1350px 353px #FFF, 1854px 578px #FFF, 864px 746px #FFF, 948px 851px #FFF, 1435px 1053px #FFF, 1480px 473px #FFF, 1670px 580px #FFF, 1915px 1067px #FFF, 1052px 1474px #FFF, 862px 348px #FFF, 1890px 684px #FFF, 1116px 1133px #FFF, 1797px 1086px #FFF, 1231px 1745px #FFF, 1226px 1095px #FFF, 1062px 444px #FFF, 296px 797px #FFF, 821px 758px #FFF, 1064px 15px #FFF, 1780px 1463px #FFF, 652px 756px #FFF, 1208px 1602px #FFF, 695px 1316px #FFF, 1450px 1733px #FFF, 1286px 1736px #FFF, 1096px 2000px #FFF, 739px 1751px #FFF, 1889px 1839px #FFF, 248px 624px #FFF, 1531px 481px #FFF, 570px 832px #FFF, 1491px 1281px #FFF, 1504px 1740px #FFF, 1141px 1586px #FFF, 192px 198px #FFF, 1064px 1069px #FFF, 1173px 1367px #FFF, 78px 591px #FFF, 843px 468px #FFF, 1876px 1114px #FFF, 587px 1511px #FFF, 1939px 340px #FFF, 1665px 1272px #FFF, 1564px 1569px #FFF, 530px 339px #FFF, 885px 1788px #FFF, 622px 303px #FFF, 978px 1643px #FFF, 1198px 154px #FFF, 1578px 466px #FFF, 1738px 592px #FFF, 575px 1863px #FFF, 45px 604px #FFF, 1037px 1343px #FFF, 1987px 1489px #FFF, 275px 491px #FFF, 203px 1200px #FFF, 545px 1926px #FFF, 1331px 559px #FFF, 240px 1846px #FFF, 12px 738px #FFF, 1206px 11px #FFF, 1852px 516px #FFF, 1101px 671px #FFF, 652px 673px #FFF, 655px 693px #FFF, 1576px 1833px #FFF, 1091px 1421px #FFF, 847px 1100px #FFF, 1083px 918px #FFF, 400px 474px #FFF, 739px 1838px #FFF, 1419px 1316px #FFF, 318px 1604px #FFF, 1108px 567px #FFF, 644px 1702px #FFF, 987px 237px #FFF, 590px 581px #FFF, 1557px 321px #FFF, 445px 1888px #FFF, 1990px 1517px #FFF, 748px 576px #FFF, 1073px 1977px #FFF, 1078px 219px #FFF, 590px 1490px #FFF, 1171px 216px #FFF, 1449px 11px #FFF, 1541px 372px #FFF, 52px 1566px #FFF, 1365px 171px #FFF, 1717px 90px #FFF, 473px 769px #FFF, 904px 1018px #FFF, 184px 1833px #FFF, 1722px 1575px #FFF, 917px 1081px #FFF, 1284px 1465px #FFF, 722px 623px #FFF, 1770px 1997px #FFF, 1622px 1576px #FFF, 502px 1190px #FFF, 34px 1678px #FFF, 27px 1737px #FFF, 612px 596px #FFF, 1360px 764px #FFF, 1511px 1982px #FFF, 826px 1694px #FFF, 293px 1932px #FFF, 1081px 635px #FFF, 342px 1582px #FFF, 203px 1287px #FFF, 749px 646px #FFF, 1901px 330px #FFF, 79px 301px #FFF, 610px 673px #FFF, 190px 1178px #FFF, 1898px 1013px #FFF, 1716px 1163px #FFF, 143px 1587px #FFF, 655px 1558px #FFF, 1536px 1635px #FFF, 851px 540px #FFF, 45px 118px #FFF, 1430px 1703px #FFF, 623px 493px #FFF, 194px 1902px #FFF, 1816px 347px #FFF, 1504px 1637px #FFF, 1694px 170px #FFF, 1909px 948px #FFF, 827px 1903px #FFF, 1747px 1278px #FFF, 1197px 1815px #FFF, 426px 307px #FFF, 947px 1602px #FFF, 1447px 1503px #FFF, 932px 870px #FFF, 511px 102px #FFF, 231px 367px #FFF, 971px 1332px #FFF, 1884px 1377px #FFF, 1475px 1541px #FFF, 660px 1457px #FFF, 1115px 1344px #FFF, 835px 1718px #FFF, 1312px 1690px #FFF, 861px 694px #FFF, 476px 1203px #FFF, 581px 1202px #FFF, 979px 718px #FFF, 1744px 877px #FFF, 1383px 350px #FFF, 1266px 580px #FFF, 833px 1590px #FFF, 1175px 738px #FFF, 301px 1932px #FFF, 1123px 802px #FFF, 748px 1133px #FFF, 1725px 217px #FFF, 1785px 748px #FFF, 883px 466px #FFF, 90px 702px #FFF, 1041px 1369px #FFF, 213px 928px #FFF, 1781px 837px #FFF, 1607px 1328px #FFF, 806px 213px #FFF, 976px 1357px #FFF, 1503px 1002px #FFF, 100px 1008px #FFF, 1475px 1532px #FFF, 1762px 1908px #FFF, 1250px 865px #FFF, 1652px 1423px #FFF, 1678px 1289px #FFF, 198px 817px #FFF, 1288px 1341px #FFF, 1684px 1914px #FFF, 552px 368px #FFF, 919px 1142px #FFF, 838px 1672px #FFF, 1169px 333px #FFF, 583px 1184px #FFF, 129px 806px #FFF, 382px 150px #FFF, 1814px 1065px #FFF, 1444px 589px #FFF, 882px 1958px #FFF, 726px 1965px #FFF, 1272px 860px #FFF, 1820px 1818px #FFF, 1879px 552px #FFF, 134px 440px #FFF, 1838px 506px #FFF, 1363px 615px #FFF, 798px 1124px #FFF, 1695px 1363px #FFF, 34px 363px #FFF, 1824px 314px #FFF, 1368px 1777px #FFF, 195px 1014px #FFF, 899px 1832px #FFF, 787px 1893px #FFF, 1828px 347px #FFF, 1233px 339px #FFF, 1310px 1828px #FFF, 772px 486px #FFF, 477px 1572px #FFF, 1173px 501px #FFF, 1906px 18px #FFF, 438px 745px #FFF, 771px 1612px #FFF, 153px 115px #FFF, 345px 517px #FFF, 1717px 375px #FFF, 1711px 1973px #FFF, 1380px 798px #FFF, 1026px 1943px #FFF, 699px 1405px #FFF, 64px 1742px #FFF, 123px 1028px #FFF, 198px 876px #FFF, 443px 1021px #FFF, 546px 140px #FFF, 989px 1468px #FFF, 666px 1119px #FFF, 1539px 529px #FFF, 288px 762px #FFF, 804px 308px #FFF, 1196px 696px #FFF, 1734px 1627px #FFF, 1909px 923px #FFF, 1334px 1543px #FFF, 50px 380px #FFF, 628px 207px #FFF, 1650px 1939px #FFF, 1986px 875px #FFF, 376px 1709px #FFF, 724px 445px #FFF, 1787px 337px #FFF, 1816px 1872px #FFF, 1970px 1127px #FFF, 1793px 1257px #FFF, 516px 1843px #FFF, 1617px 1968px #FFF, 530px 744px #FFF, 842px 831px #FFF, 1127px 1516px #FFF, 339px 590px #FFF, 120px 356px #FFF, 77px 17px #FFF, 1592px 1700px #FFF, 381px 781px #FFF, 682px 1058px #FFF, 198px 1858px #FFF, 265px 925px #FFF, 1018px 416px #FFF, 1550px 1547px #FFF, 299px 332px #FFF, 1816px 1787px #FFF, 578px 752px #FFF, 817px 1944px #FFF, 1081px 1772px #FFF, 1451px 490px #FFF, 383px 344px #FFF, 1120px 984px #FFF, 1242px 822px #FFF, 339px 1360px #FFF, 1487px 1870px #FFF, 1680px 874px #FFF, 1860px 583px #FFF, 225px 1664px #FFF, 875px 1725px #FFF, 156px 1533px #FFF, 747px 1943px #FFF, 1219px 101px #FFF, 1866px 466px #FFF, 856px 741px #FFF, 1001px 1449px #FFF, 1479px 714px #FFF, 1134px 1523px #FFF, 1147px 1362px #FFF, 1774px 444px #FFF, 458px 1379px #FFF, 1415px 1269px #FFF, 1555px 1306px #FFF, 1857px 1867px #FFF, 1759px 755px #FFF, 1485px 1625px #FFF, 507px 884px #FFF, 180px 182px #FFF, 293px 1987px #FFF, 920px 684px #FFF, 1543px 769px #FFF, 436px 1707px #FFF, 35px 16px #FFF, 530px 1089px #FFF, 77px 580px #FFF, 764px 651px #FFF, 880px 1196px #FFF, 1497px 95px #FFF, 473px 383px #FFF, 462px 1588px #FFF, 1797px 1344px #FFF, 1383px 1916px #FFF, 731px 1634px #FFF, 563px 417px #FFF, 1228px 1980px #FFF, 1933px 1751px #FFF, 1956px 969px #FFF, 705px 392px #FFF, 941px 1148px #FFF, 288px 1944px #FFF, 1745px 90px #FFF, 1734px 1860px #FFF, 1503px 1278px #FFF, 4px 1652px #FFF, 886px 913px #FFF, 184px 1373px #FFF, 1821px 455px #FFF, 161px 544px #FFF, 878px 1516px #FFF, 49px 962px #FFF, 94px 1083px #FFF, 1688px 401px #FFF, 1112px 1658px #FFF, 1166px 1607px #FFF, 383px 461px #FFF, 1428px 370px #FFF, 302px 1388px #FFF, 502px 985px #FFF, 549px 1444px #FFF, 1664px 958px #FFF, 711px 494px #FFF, 908px 37px #FFF, 591px 992px #FFF, 1406px 984px #FFF, 1101px 951px #FFF, 1169px 37px #FFF, 1583px 1147px #FFF, 697px 907px #FFF, 83px 695px #FFF, 1538px 769px #FFF, 1970px 1760px #FFF, 931px 502px #FFF, 674px 419px #FFF, 1657px 191px #FFF, 1146px 1400px #FFF, 970px 134px #FFF, 1701px 881px #FFF, 1110px 208px #FFF, 915px 826px #FFF, 1707px 311px #FFF, 70px 1887px #FFF, 1819px 1774px #FFF, 15px 1625px #FFF, 1483px 692px #FFF, 22px 232px #FFF, 1905px 1229px #FFF, 1341px 1277px #FFF, 817px 1661px #FFF, 620px 638px #FFF, 403px 461px #FFF, 729px 676px #FFF, 839px 650px #FFF, 831px 1203px #FFF, 408px 1003px #FFF, 977px 396px #FFF, 372px 208px #FFF, 610px 1609px #FFF, 723px 899px #FFF, 1579px 34px #FFF, 1950px 1781px #FFF, 794px 1473px #FFF, 1265px 558px #FFF, 1500px 1687px #FFF, 968px 1823px #FFF, 1489px 1267px #FFF, 1034px 1902px #FFF, 1356px 612px #FFF, 366px 1453px #FFF, 1807px 1946px #FFF, 1708px 476px #FFF, 1373px 129px #FFF, 1653px 1865px #FFF, 653px 837px #FFF, 970px 816px #FFF, 1826px 1198px #FFF, 1721px 1276px #FFF, 413px 407px #FFF, 429px 1363px #FFF, 191px 1984px #FFF, 629px 156px #FFF, 795px 1819px #FFF, 1715px 677px #FFF, 422px 1275px #FFF, 732px 1553px #FFF, 147px 953px #FFF, 620px 835px #FFF, 35px 225px #FFF, 1780px 1835px #FFF, 715px 1826px #FFF, 1439px 1197px #FFF, 1535px 1108px #FFF, 896px 118px #FFF, 6px 1573px #FFF, 1981px 561px #FFF, 1948px 1184px #FFF, 548px 516px #FFF, 1713px 1181px #FFF, 698px 1359px #FFF, 1918px 1421px #FFF, 271px 1745px #FFF, 1188px 729px #FFF, 318px 1483px #FFF, 677px 1887px #FFF, 1603px 188px #FFF, 589px 1621px #FFF, 289px 627px #FFF, 954px 174px #FFF, 58px 656px #FFF, 303px 1502px #FFF, 812px 444px #FFF, 1020px 1469px #FFF, 1580px 1642px #FFF, 1015px 569px #FFF, 1082px 1846px #FFF, 923px 1531px #FFF, 1968px 1234px #FFF, 1065px 1992px #FFF, 1242px 1919px #FFF, 1204px 662px #FFF, 50px 388px #FFF, 202px 1176px #FFF, 1777px 1557px #FFF, 377px 172px #FFF, 1098px 705px #FFF, 1257px 341px #FFF, 1978px 1754px #FFF, 366px 961px #FFF, 1446px 1078px #FFF, 1051px 1990px #FFF, 516px 703px #FFF, 1102px 581px #FFF, 1373px 129px #FFF, 691px 117px #FFF, 711px 1057px #FFF, 793px 1194px #FFF, 1705px 1824px #FFF, 853px 1106px #FFF, 1093px 983px #FFF, 866px 1652px #FFF, 337px 717px #FFF, 295px 143px #FFF, 462px 1143px #FFF, 292px 922px #FFF, 1836px 1908px #FFF, 176px 1148px #FFF, 656px 85px #FFF, 1460px 813px #FFF, 970px 1482px #FFF, 972px 14px #FFF, 780px 1451px #FFF, 1371px 1967px #FFF, 1931px 381px #FFF, 1502px 261px #FFF, 1513px 1213px #FFF, 358px 1471px #FFF, 1509px 202px #FFF, 910px 701px #FFF, 237px 1046px #FFF, 197px 1470px #FFF, 375px 736px #FFF, 205px 893px #FFF, 881px 1867px #FFF, 907px 1417px #FFF, 1649px 102px #FFF, 1791px 358px #FFF, 522px 36px #FFF, 1008px 386px #FFF, 1386px 635px #FFF, 508px 1456px #FFF, 587px 291px #FFF, 1487px 1135px #FFF, 1599px 1628px #FFF, 856px 1941px #FFF, 470px 1399px #FFF, 1429px 627px #FFF, 1749px 1208px #FFF, 391px 793px #FFF, 1118px 1255px #FFF, 409px 789px #FFF, 1323px 284px #FFF, 769px 294px #FFF, 81px 943px #FFF, 1677px 279px #FFF, 503px 330px #FFF, 738px 1642px #FFF, 192px 1286px #FFF, 1389px 343px #FFF, 983px 1255px #FFF, 855px 877px #FFF, 885px 993px #FFF, 147px 564px #FFF, 532px 809px #FFF, 1780px 613px #FFF, 1538px 696px #FFF, 881px 496px #FFF, 513px 893px #FFF, 916px 1526px #FFF, 1951px 1564px #FFF, 288px 459px #FFF, 800px 1034px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 773px 933px #FFF, 1042px 794px #FFF, 841px 1130px #FFF, 1354px 1667px #FFF, 1899px 435px #FFF, 692px 207px #FFF, 933px 7px #FFF, 382px 634px #FFF, 1819px 128px #FFF, 385px 139px #FFF, 357px 1891px #FFF, 1672px 341px #FFF, 457px 1425px #FFF, 1837px 502px #FFF, 775px 1585px #FFF, 604px 1708px #FFF, 176px 870px #FFF, 492px 1493px #FFF, 1778px 1267px #FFF, 1298px 255px #FFF, 235px 242px #FFF, 1525px 1359px #FFF, 810px 513px #FFF, 1009px 822px #FFF, 1896px 547px #FFF, 592px 12px #FFF, 402px 1138px #FFF, 650px 678px #FFF, 118px 1852px #FFF, 1458px 1341px #FFF, 1953px 339px #FFF, 802px 1759px #FFF, 696px 1863px #FFF, 132px 1174px #FFF, 157px 1771px #FFF, 27px 230px #FFF, 1169px 1882px #FFF, 1507px 1874px #FFF, 754px 517px #FFF, 463px 845px #FFF, 1083px 555px #FFF, 360px 557px #FFF, 544px 323px #FFF, 1781px 359px #FFF, 1617px 1058px #FFF, 126px 858px #FFF, 1823px 3px #FFF, 670px 27px #FFF, 1190px 769px #FFF, 1784px 982px #FFF, 1103px 1048px #FFF, 1549px 1791px #FFF, 129px 1969px #FFF, 873px 1600px #FFF, 25px 201px #FFF, 876px 504px #FFF, 1188px 861px #FFF, 750px 1468px #FFF, 295px 636px #FFF, 1950px 1985px #FFF, 1689px 1411px #FFF, 1271px 1003px #FFF, 562px 1901px #FFF, 172px 1671px #FFF, 1886px 1583px #FFF, 321px 1743px #FFF, 1225px 995px #FFF, 1427px 905px #FFF, 353px 158px #FFF, 1384px 905px #FFF, 1809px 897px #FFF, 1388px 1695px #FFF, 259px 1232px #FFF, 1036px 1563px #FFF, 186px 754px #FFF, 1934px 531px #FFF, 1174px 853px #FFF, 1525px 984px #FFF, 418px 563px #FFF, 472px 135px #FFF, 1435px 1328px #FFF, 1197px 408px #FFF, 594px 315px #FFF, 741px 1991px #FFF, 299px 1814px #FFF, 803px 372px #FFF, 997px 1334px #FFF, 1986px 902px #FFF, 1582px 1726px #FFF, 814px 737px #FFF, 1040px 987px #FFF, 445px 1305px #FFF, 1841px 1639px #FFF, 434px 1209px #FFF, 163px 161px #FFF, 839px 734px #FFF, 316px 1908px #FFF, 645px 612px #FFF, 1906px 1487px #FFF, 147px 59px #FFF, 1291px 1878px #FFF, 272px 1823px #FFF, 557px 1670px #FFF, 1922px 939px #FFF, 1225px 1784px #FFF, 205px 1360px #FFF, 23px 1931px #FFF, 1208px 1064px #FFF, 1462px 1533px #FFF, 1025px 1448px #FFF, 939px 343px #FFF, 817px 1482px #FFF, 1317px 413px #FFF, 396px 631px #FFF, 394px 829px #FFF, 917px 413px #FFF, 1820px 1443px #FFF, 864px 338px #FFF, 1162px 1349px #FFF, 1436px 452px #FFF, 1625px 1927px #FFF, 1734px 593px #FFF, 82px 183px #FFF, 656px 1654px #FFF, 1971px 505px #FFF, 1433px 1807px #FFF, 1403px 1004px #FFF, 1414px 1056px #FFF, 520px 1570px #FFF, 1490px 1062px #FFF, 1052px 844px #FFF, 273px 142px #FFF, 269px 1359px #FFF, 561px 1248px #FFF, 238px 1059px #FFF, 503px 899px #FFF, 1651px 1737px #FFF, 1411px 1331px #FFF, 216px 1565px #FFF, 128px 1650px #FFF, 798px 144px #FFF, 912px 1036px #FFF, 169px 1973px #FFF, 1432px 485px #FFF, 562px 139px #FFF, 17px 575px #FFF, 1297px 1474px #FFF, 310px 1604px #FFF, 933px 1396px #FFF, 1812px 1973px #FFF, 978px 575px #FFF, 1637px 652px #FFF, 1293px 284px #FFF, 1664px 728px #FFF, 692px 1019px #FFF, 975px 285px #FFF, 1255px 1617px #FFF, 898px 1763px #FFF, 436px 1327px #FFF, 1835px 839px #FFF, 1434px 967px #FFF, 1668px 356px #FFF, 876px 993px #FFF, 1430px 761px #FFF, 1030px 1592px #FFF, 73px 1532px #FFF, 1131px 1343px #FFF, 1540px 1445px #FFF, 168px 518px #FFF, 538px 431px #FFF, 1693px 715px #FFF, 951px 1237px #FFF, 840px 1800px #FFF, 32px 1104px #FFF, 316px 961px #FFF, 1953px 813px #FFF, 77px 1287px #FFF, 1662px 1102px #FFF, 747px 965px #FFF, 1130px 251px #FFF, 1039px 1348px #FFF, 1574px 1436px #FFF, 1476px 919px #FFF, 489px 1087px #FFF, 513px 1930px #FFF, 249px 407px #FFF, 711px 1986px #FFF, 1230px 1552px #FFF, 130px 234px #FFF, 1440px 1531px #FFF, 1345px 1755px #FFF, 901px 1780px #FFF, 791px 1773px #FFF, 1955px 520px #FFF, 1495px 253px #FFF, 1521px 709px #FFF, 516px 219px #FFF, 1848px 1152px #FFF, 37px 1889px #FFF, 1680px 1527px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 773px 933px #FFF, 1042px 794px #FFF, 841px 1130px #FFF, 1354px 1667px #FFF, 1899px 435px #FFF, 692px 207px #FFF, 933px 7px #FFF, 382px 634px #FFF, 1819px 128px #FFF, 385px 139px #FFF, 357px 1891px #FFF, 1672px 341px #FFF, 457px 1425px #FFF, 1837px 502px #FFF, 775px 1585px #FFF, 604px 1708px #FFF, 176px 870px #FFF, 492px 1493px #FFF, 1778px 1267px #FFF, 1298px 255px #FFF, 235px 242px #FFF, 1525px 1359px #FFF, 810px 513px #FFF, 1009px 822px #FFF, 1896px 547px #FFF, 592px 12px #FFF, 402px 1138px #FFF, 650px 678px #FFF, 118px 1852px #FFF, 1458px 1341px #FFF, 1953px 339px #FFF, 802px 1759px #FFF, 696px 1863px #FFF, 132px 1174px #FFF, 157px 1771px #FFF, 27px 230px #FFF, 1169px 1882px #FFF, 1507px 1874px #FFF, 754px 517px #FFF, 463px 845px #FFF, 1083px 555px #FFF, 360px 557px #FFF, 544px 323px #FFF, 1781px 359px #FFF, 1617px 1058px #FFF, 126px 858px #FFF, 1823px 3px #FFF, 670px 27px #FFF, 1190px 769px #FFF, 1784px 982px #FFF, 1103px 1048px #FFF, 1549px 1791px #FFF, 129px 1969px #FFF, 873px 1600px #FFF, 25px 201px #FFF, 876px 504px #FFF, 1188px 861px #FFF, 750px 1468px #FFF, 295px 636px #FFF, 1950px 1985px #FFF, 1689px 1411px #FFF, 1271px 1003px #FFF, 562px 1901px #FFF, 172px 1671px #FFF, 1886px 1583px #FFF, 321px 1743px #FFF, 1225px 995px #FFF, 1427px 905px #FFF, 353px 158px #FFF, 1384px 905px #FFF, 1809px 897px #FFF, 1388px 1695px #FFF, 259px 1232px #FFF, 1036px 1563px #FFF, 186px 754px #FFF, 1934px 531px #FFF, 1174px 853px #FFF, 1525px 984px #FFF, 418px 563px #FFF, 472px 135px #FFF, 1435px 1328px #FFF, 1197px 408px #FFF, 594px 315px #FFF, 741px 1991px #FFF, 299px 1814px #FFF, 803px 372px #FFF, 997px 1334px #FFF, 1986px 902px #FFF, 1582px 1726px #FFF, 814px 737px #FFF, 1040px 987px #FFF, 445px 1305px #FFF, 1841px 1639px #FFF, 434px 1209px #FFF, 163px 161px #FFF, 839px 734px #FFF, 316px 1908px #FFF, 645px 612px #FFF, 1906px 1487px #FFF, 147px 59px #FFF, 1291px 1878px #FFF, 272px 1823px #FFF, 557px 1670px #FFF, 1922px 939px #FFF, 1225px 1784px #FFF, 205px 1360px #FFF, 23px 1931px #FFF, 1208px 1064px #FFF, 1462px 1533px #FFF, 1025px 1448px #FFF, 939px 343px #FFF, 817px 1482px #FFF, 1317px 413px #FFF, 396px 631px #FFF, 394px 829px #FFF, 917px 413px #FFF, 1820px 1443px #FFF, 864px 338px #FFF, 1162px 1349px #FFF, 1436px 452px #FFF, 1625px 1927px #FFF, 1734px 593px #FFF, 82px 183px #FFF, 656px 1654px #FFF, 1971px 505px #FFF, 1433px 1807px #FFF, 1403px 1004px #FFF, 1414px 1056px #FFF, 520px 1570px #FFF, 1490px 1062px #FFF, 1052px 844px #FFF, 273px 142px #FFF, 269px 1359px #FFF, 561px 1248px #FFF, 238px 1059px #FFF, 503px 899px #FFF, 1651px 1737px #FFF, 1411px 1331px #FFF, 216px 1565px #FFF, 128px 1650px #FFF, 798px 144px #FFF, 912px 1036px #FFF, 169px 1973px #FFF, 1432px 485px #FFF, 562px 139px #FFF, 17px 575px #FFF, 1297px 1474px #FFF, 310px 1604px #FFF, 933px 1396px #FFF, 1812px 1973px #FFF, 978px 575px #FFF, 1637px 652px #FFF, 1293px 284px #FFF, 1664px 728px #FFF, 692px 1019px #FFF, 975px 285px #FFF, 1255px 1617px #FFF, 898px 1763px #FFF, 436px 1327px #FFF, 1835px 839px #FFF, 1434px 967px #FFF, 1668px 356px #FFF, 876px 993px #FFF, 1430px 761px #FFF, 1030px 1592px #FFF, 73px 1532px #FFF, 1131px 1343px #FFF, 1540px 1445px #FFF, 168px 518px #FFF, 538px 431px #FFF, 1693px 715px #FFF, 951px 1237px #FFF, 840px 1800px #FFF, 32px 1104px #FFF, 316px 961px #FFF, 1953px 813px #FFF, 77px 1287px #FFF, 1662px 1102px #FFF, 747px 965px #FFF, 1130px 251px #FFF, 1039px 1348px #FFF, 1574px 1436px #FFF, 1476px 919px #FFF, 489px 1087px #FFF, 513px 1930px #FFF, 249px 407px #FFF, 711px 1986px #FFF, 1230px 1552px #FFF, 130px 234px #FFF, 1440px 1531px #FFF, 1345px 1755px #FFF, 901px 1780px #FFF, 791px 1773px #FFF, 1955px 520px #FFF, 1495px 253px #FFF, 1521px 709px #FFF, 516px 219px #FFF, 1848px 1152px #FFF, 37px 1889px #FFF, 1680px 1527px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 746px 55px #FFF, 584px 454px #FFF, 1233px 1859px #FFF, 1198px 52px #FFF, 1035px 1067px #FFF, 690px 1531px #FFF, 648px 517px #FFF, 1082px 736px #FFF, 1232px 40px #FFF, 568px 968px #FFF, 1805px 957px #FFF, 1613px 387px #FFF, 365px 145px #FFF, 676px 1891px #FFF, 234px 1340px #FFF, 998px 1455px #FFF, 6px 1374px #FFF, 1190px 1724px #FFF, 806px 1627px #FFF, 311px 729px #FFF, 442px 1755px #FFF, 1913px 706px #FFF, 1412px 1953px #FFF, 26px 364px #FFF, 1799px 227px #FFF, 142px 1633px #FFF, 1592px 433px #FFF, 203px 778px #FFF, 185px 1917px #FFF, 1107px 555px #FFF, 209px 371px #FFF, 893px 120px #FFF, 670px 567px #FFF, 1982px 1666px #FFF, 1131px 438px #FFF, 1992px 1536px #FFF, 802px 1158px #FFF, 1565px 1971px #FFF, 224px 966px #FFF, 469px 608px #FFF, 1124px 1022px #FFF, 939px 1290px #FFF, 731px 1446px #FFF, 169px 1703px #FFF, 1483px 1444px #FFF, 537px 1085px #FFF, 650px 1552px #FFF, 1128px 392px #FFF, 1977px 1248px #FFF, 358px 559px #FFF, 1365px 1238px #FFF, 1620px 61px #FFF, 492px 1709px #FFF, 1272px 1059px #FFF, 1015px 1192px #FFF, 902px 1028px #FFF, 71px 813px #FFF, 1946px 1279px #FFF, 544px 1716px #FFF, 762px 1534px #FFF, 1877px 1964px #FFF, 1874px 689px #FFF, 224px 269px #FFF, 667px 343px #FFF, 937px 1106px #FFF, 1277px 1923px #FFF, 430px 1946px #FFF, 600px 1574px #FFF, 1016px 732px #FFF, 1082px 1436px #FFF, 1786px 1998px #FFF, 1667px 1061px #FFF, 426px 1822px #FFF, 1253px 1692px #FFF, 745px 783px #FFF, 542px 599px #FFF, 1889px 1302px #FFF, 1738px 1512px #FFF, 1796px 956px #FFF, 131px 590px #FFF, 773px 723px #FFF, 199px 1519px #FFF, 875px 632px #FFF, 1348px 35px #FFF, 741px 1270px #FFF, 718px 1124px #FFF, 156px 1079px #FFF, 1827px 1019px #FFF, 629px 1446px #FFF, 1775px 66px #FFF, 866px 623px #FFF, 307px 1500px #FFF, 1037px 1164px #FFF, 1846px 33px #FFF, 1040px 1959px #FFF, 982px 395px #FFF, 1498px 1542px #FFF, 283px 26px #FFF, 244px 1514px #FFF, 1667px 365px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 746px 55px #FFF, 584px 454px #FFF, 1233px 1859px #FFF, 1198px 52px #FFF, 1035px 1067px #FFF, 690px 1531px #FFF, 648px 517px #FFF, 1082px 736px #FFF, 1232px 40px #FFF, 568px 968px #FFF, 1805px 957px #FFF, 1613px 387px #FFF, 365px 145px #FFF, 676px 1891px #FFF, 234px 1340px #FFF, 998px 1455px #FFF, 6px 1374px #FFF, 1190px 1724px #FFF, 806px 1627px #FFF, 311px 729px #FFF, 442px 1755px #FFF, 1913px 706px #FFF, 1412px 1953px #FFF, 26px 364px #FFF, 1799px 227px #FFF, 142px 1633px #FFF, 1592px 433px #FFF, 203px 778px #FFF, 185px 1917px #FFF, 1107px 555px #FFF, 209px 371px #FFF, 893px 120px #FFF, 670px 567px #FFF, 1982px 1666px #FFF, 1131px 438px #FFF, 1992px 1536px #FFF, 802px 1158px #FFF, 1565px 1971px #FFF, 224px 966px #FFF, 469px 608px #FFF, 1124px 1022px #FFF, 939px 1290px #FFF, 731px 1446px #FFF, 169px 1703px #FFF, 1483px 1444px #FFF, 537px 1085px #FFF, 650px 1552px #FFF, 1128px 392px #FFF, 1977px 1248px #FFF, 358px 559px #FFF, 1365px 1238px #FFF, 1620px 61px #FFF, 492px 1709px #FFF, 1272px 1059px #FFF, 1015px 1192px #FFF, 902px 1028px #FFF, 71px 813px #FFF, 1946px 1279px #FFF, 544px 1716px #FFF, 762px 1534px #FFF, 1877px 1964px #FFF, 1874px 689px #FFF, 224px 269px #FFF, 667px 343px #FFF, 937px 1106px #FFF, 1277px 1923px #FFF, 430px 1946px #FFF, 600px 1574px #FFF, 1016px 732px #FFF, 1082px 1436px #FFF, 1786px 1998px #FFF, 1667px 1061px #FFF, 426px 1822px #FFF, 1253px 1692px #FFF, 745px 783px #FFF, 542px 599px #FFF, 1889px 1302px #FFF, 1738px 1512px #FFF, 1796px 956px #FFF, 131px 590px #FFF, 773px 723px #FFF, 199px 1519px #FFF, 875px 632px #FFF, 1348px 35px #FFF, 741px 1270px #FFF, 718px 1124px #FFF, 156px 1079px #FFF, 1827px 1019px #FFF, 629px 1446px #FFF, 1775px 66px #FFF, 866px 623px #FFF, 307px 1500px #FFF, 1037px 1164px #FFF, 1846px 33px #FFF, 1040px 1959px #FFF, 982px 395px #FFF, 1498px 1542px #FFF, 283px 26px #FFF, 244px 1514px #FFF, 1667px 365px #FFF;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@media (min-width:2000px) {
    #stars, #stars2, #stars3 {
        display: none;
        visibility: hidden;
    }
}

/* New Changes */

#top-bar, #top-bar a, h1, h2, h3 {
    font-family: EnterTheGrid !important;
}

.index a, #top-bar a, h1 {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}


/* HomePage Images */

.index .homeImage {
    height: 100%;
    /* background: white; */
    text-align: center;
    line-height: 4rem;
    /* margin-top: 1.5rem; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}

.imgChange {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
}

.imgChange .imgHover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
    z-index: 100;

}

.imgChange:hover .imgHover {
    display: block;
    opacity: 1;
    transform: scale(1.2);
}

.imgChange:hover .imgTop {
    /* display: inline; */
    opacity: 0;
}


/* Top bar
   ========================================================================== */

@media screen and (max-width: 767px) {
    header {
        height: 5rem;
    }
}

#top-bar {
    font-family: EnterTheGrid;
    background-color: #F79534;
    border-bottom: 2px solid #EC6B1C;
    position: static;
    /* z-index: 1; */
    top: inherit;
    right: inherit;
    left: inherit;
    height: 45px;
    /* padding: 10px; */
    font-size: 20px;
}

#top-bar .title h1 {
    margin: 0;
    color: #354081;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px;
    font-family: "Courier New";
}

#top-bar .title h1:hover {
    color: #f0f1f2;
}

#top-bar,
.nav-top-bar {
    position: relative;
    z-index: 444;
    background-color: #F79534;
    border-bottom: 1px solid #EC6B1C;
}


/* ==========================================================================
   mobile
   ========================================================================== */


/* Top Bar Mobile CSS */

.navMobile {
    display: none;
}

@media (max-width:1030px) {
    #top-bar {
        display: none;
    }

    .navMobile {
        display: block;
    }

    .navMobile {
        font-family: EnterTheGrid;
        overflow: hidden;
        background-color: #333;
        position: relative;
        z-index: 99999999;
    }

    #topMobile {
        background-color: #F79534;
        border-bottom: 2px solid #F05239;
        position: static;
        top: inherit;
        right: inherit;
        left: inherit;
        height: 45px;
        font-size: 20px;
    }

    .navMobile #navLinks {
        display: none;
    }

    .navMobile a.icon {
        background: #F05239;
        padding: 14px 16px;
        color: white;
        height: 43px;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid white;
    }

    .navMobile a.icon:hover {
        cursor: pointer;
    }

    .navMobile #navLinks a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .navMobile #navLinks a:hover {
        background-color: #f05239;
        color: #ffffff;
    }

    .navActive {
        background-color: black;
        color: white;
        opacity: .7;
    }

    .navMobile .balance-bits {
        background-color: none;
        margin-top: .6rem;
        margin-right: 4rem;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navMobile .balance-bits span:first-child {
        color: #384183;
    }

    .navMobile .balance-bits span {
        color: #354081;
    }

    .navMobile .balance-bits span:first-child:before {
        content: "";
        background: url(/img/bal.png) no-repeat;
        top: 108px;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain !important;
    }

    .navMobile #navLinks .balanceBits {
        display: none;
    }

    /* Nav Icons */
    .iconNav {
        padding-right: 5px;
        padding-left: 0;
        margin-right: 5px;
        color: #f79534;
    }

    /* Balance When the screen is smaller */
    @media (max-width:490px) {
        .navMobile .balance-bits {
            display: none;
        }

        .navMobile #navLinks .balanceBits {
            background-color: #7396a9;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            font-weight: bolder;
        }

        .navMobile #navLinks .balanceBits span:first-child {
            color: #384183;
        }

        .navMobile #navLinks .balanceBits span {
            color: #FFC107;
        }

        .navMobile #navLinks .balanceBits span:first-child:before {
            content: "";
            background: url(/img/bal.png) no-repeat;
            top: 108px;
            width: 28px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
            background-size: contain !important;
        }
    }
}

@media (min-width:994px) {
    #top-bar .user-login {
        float: right;
        line-height: 40px;
    }

    #top-bar .menu,
    #top-bar .menu-mobile {
        float: left !important;
        margin-right: 1rem !important;
    }

    #top-bar .nav-item {
        display: inline-block;
        padding-right: 0 !important;
    }

    #top-bar .user-login .balance-bits {
        display: inline-block;
        /* float: right; */
        padding-right: 0.5rem;
    }

    #top-bar .user-login .username {
        display: inline-block;
        padding-right: 1rem;
    }


}



/* ==========================================================================
   balance 
   ========================================================================== */

#top-bar .user-login .balance-bits span:first-child {
    color: #384183;
}

#top-bar .user-login .balance-bits span {
    line-height: 40px;
    color: #354081;
}

#top-bar .user-login .balance-bits span:first-child:before {
    content: "";
    background: url(/img/bal.png) no-repeat;
    top: 108px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
}


#top-bar .user-login .username a {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#top-bar .user-login .username a:hover {
    color: #F0F1F2 !important;
}

#top-bar .user-login .register {
    display: inline-block;
    padding-right: 1rem;
}

#top-bar .user-login .register a {
    color: #111722;
}

#top-bar .user-login .register a:hover {
    color: white;
    opacity: .7;
}

#top-bar .user-login .login {
    display: inline-block;
    padding-right: 2rem;
}

#top-bar .user-login .login a {
    line-height: 2rem;
    color: #111722;
}

#top-bar .user-login .login a:hover {
    color: white;
    opacity: .7;
}

.wrap {
    height: 100%;
}

.page-content {
    position: relative;
    margin-top: 0rem;
}

#top-bar .nav-list {
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.nav-list a:hover {
    color: #F0F1F2 !important;
}

#top-bar .nav-item {
    display: inline-block;
    padding-right: 1rem;
}


/* ==========================================================================
   homepage buttons 
   ========================================================================== */


#top-bar .nav-item a {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid white;
    vertical-align: middle;
    background: transparent;
    padding: 10px;
    color: #354081;
    letter-spacing: 1px;
}

#top-bar .nav-item a:hover {
    background: #EC6B1C;
    color: #446272;
}

@media screen and (max-width: 767px) {
    #top-bar .menu {
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        text-align: center;
        margin-right: 0;
    }

    #top-bar .user-login .login {
        padding-right: 0.5rem;
    }

    #top-bar .user-login .register {
        padding-right: 0.5rem;
    }

    #top-bar .title h1 {
        padding-left: 0.5rem;
    }

    .page-content {
        margin-top: 2rem;
    }
}




/* Message wrappers
   ========================================================================== */

.success-wrap {
    text-align: center;
    line-height: 1.2rem;
    width: 100%;
    clear: both;
}

.success-wrap a {
    color: #74deeb;
    font-weight: 600;
    text-decoration: underline;
}


/* Index Styles
   ========================================================================== */
.page {
    display: none;
}

.page-initial {
    display: block;
}

.page-active {
    display: block;
    animation: scale-fade-in 1s linear;
}

.index .section {
    /* flex-shrink: 0; */
    height: 90%;
    transition: opacity 1s ease-out;
}

.index a {
    color: #F79534 !important;
}

.index a:hover {
    color: #f05239 !important;
}

@keyframes scale-fade-in {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Scrolling Call To Action */
#scroll-down {
    display: block;
    position: relative;
    top: 10vh;
    padding-top: 79px;
    text-align: center;
}

@media screen and (max-width: 832px) {
    #scroll-down {
        padding-top: 50px;
        top: 2vh;
    }
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}

.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #f8fbff;
    border-right: 2px solid #ffffff;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #4491ef;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
}

#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 60px;
    background: #FFFFFF;
    content: ' ';
}

@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

.index .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index .title {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 1.5rem;
    font-family: rbn;
    font-weight: bold;
    color: #F0F1F2;
}

.index .faucet {
    text-align: center;
    margin-top: 2rem;
}

.index .licence {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
}

.index .play-btn-cont {
    width: 40%;
    padding-top: 2rem;
    margin: auto;
    text-align: right;
}

.index .play-btn-cont .play {
    /* padding-top: 2rem; */
    display: block;
    width: 100%;
    /* top: calc(100% - 3em); */
    line-height: 3em;
    text-align: center;
    color: #ffffff !important;
    background-color: #F05239;
    border: 3px solid #EC6B1C;
    position: relative;
    text-decoration: none;
    font-weight: 300;
    font-size: 2em;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    box-shadow: none;
    margin-bottom: 10px;
    border: 0;
    outline: none;
    font-family: inherit;
    margin: auto;
}

.index .play-btn-cont .play:hover {
    background-color: #EC6B1C;
    color: #ffffff !important;
    border: 3px solid #F05239;
    outline: none;
    box-shadow: none;
}

.index .play-btn-cont .play-old {
    display: block;
    margin-top: 1rem;
}

.index .features {
    margin-top: 20rem;
    text-align: center;
}

.index .features h4 {
    margin-top: 0.3rem;
    font-weight: bold;
    color: #F05239;
}

.index .features .text {
    margin-top: 0.9rem;
}

.index .grid {
    color: #fff;
    overflow: unset;
}


@media handheld,
screen and (max-width: 599px) {
    .index .features.grid {
        margin-top: 1rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media handheld,
screen and (min-width: 600px) {
    .index .features.grid {
        margin-top: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media handheld,
screen and (min-width: 765px) {
    .index .features.grid {
        display: block;
        margin-top: 4rem;
    }
}

.index .feature img {
    height: 100px;
    width: 100px;
}


/* Shared Stuff
   ========================================================================== */
ul {
    list-style: none;
}

h4 {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
}

strong * {
    color: #7cba00;
}

strong {
    color: #7cba00;
}

table {
    width: 100%;
    text-align: center;
}

.row {
    width: 100% !important;
}

.content {
    margin-top: 50px;
    padding-left: 10px;
}

.data p {
    margin-bottom: 5px;
}

.data b,
.data h5 {
    color: #a4b2bf;
    font-size: 15px;
}

.data {
    background: #446272;
    box-shadow: 1px 1px 1px #888888;
    padding-top: 15px;
    padding-right: 10px;
}

data:hover {
    background: white;
}

.panel {
    background-color: #2D3A41 !important;
    border: 1px solid #ec6b1c !important;
    margin-top: 2%;
}

.panel h5 {
    text-align: center;
    text-transform: uppercase;
}

.panel a {
    color: #F05239;
}

.panel a:hover {
    color: white;
}

table.user-table strong a {
    color: #496d82;
}

table.user-table strong a:hover {
    color: #fff;
}

/* Style for everything that is a button or wants to look like one */
.border-button {
    cursor: pointer;
    background: #4491af;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    padding: 15px;
    border: 2px solid #a4b2bf !important;
    margin-bottom: 5px;
    color: #fff !important;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}

.border-button:hover {
    color: #2d3a41 !important;
    text-shadow: none;
    background-color: white;
}

.input small {
    letter-spacing: 1px;
    font-size: 11px;
}

.input {
    margin-bottom: 25px;
}

.small {
    font-size: 12px;
}

.strong {
    font-weight: bold;
}

/* Different Colors for the buttons */
.red {
    border: 3px solid #ba3c12;
}

.green {
    border: 3px solid #7cba00;
}


/* FAQ styles
   ========================================================================== */

.faq-nav li a:not(.button) {
    color: #7f94a2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    background: rgba(42, 92, 123, 0.33);
    color: white !important;

}

.side-nav li:hover a {
    margin-left: 15px;
}

.faq strong {
    color: #EC6B1C;
}

div.row.faq p {
    color: #7c92a0;
}

ul.menu li a {
    color: #6e9eb9;
}

ul.menu li a:hover {
    color: #fff;
}

.menu .active {
    color: #6e9eb9;
    border-bottom: 1px solid #1d93ea;
}

.menu .active,
.menu li:hover {
    color: white;
}

/* Contact Styles
   ========================================================================== */
#contact {
    padding-bottom: 30px;
    margin: 10px;
}

/* Top Players Styles
   ========================================================================== */
.leaders td {
    text-align: center;
    border-bottom: 1px solid #89b7dd;
    color: #37505d;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
}

table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(even),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(even) {
    background: #b8c8d6;
}


table.leaders [href$="faq#gross-profit"] {
    color: white !important;
}

table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(odd),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(odd) {
    background: hsla(202, 35%, 58%, 0.73);
}

table.stats small {
    font-size: 69%;
    color: #1e7b22;
    font-weight: bold !important;
}

table.stats {
    width: 104%;
}

table.leaders a {
    color: #2D3A41;
}

table.leaders a:hover {
    color: #fdfeff;
}

table {
    border: 0;
}

.fa-sort-down:before,
.fa-sort-desc:before {
    color: #8BC34A;
}

.fa-sort-up:before,
.fa-sort-asc:before {
    color: #b7f174;
}

/* ==========================================================================
   leaderboard top 3
   ========================================================================== */

.leaders tbody tr:nth-of-type(1) td {
    background-color: #daa84a;
}

.leaders thead td {
    color: white;
}

.leaders tbody tr:nth-of-type(1) td:nth-of-type(2) a:before {
    content: "test";
    display: inline-block;
    font-size: 18px;
    color: #242528;
    content: "";
    background: url(img/icons/top1.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

.leaders tbody tr:nth-of-type(2) td {
    background-color: #cfd4db;
}


.leaders tbody tr:nth-of-type(2) td:nth-of-type(2) a:before {
    font-size: 18px;
    content: "";
    background: url(img/icons/top2.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

.leaders tbody tr:nth-of-type(3) td {
    background-color: #cf8849;
}

.leaders tbody tr:nth-of-type(3) td:nth-of-type(2) a:before {
    display: inline-block;
    font-size: 18px;
    content: "";
    background: url(img/icons/top3.png) no-repeat;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

/* Tables Styles
   ========================================================================== */

table tfoot,
table thead {
    background: #446272;
}

table tfoot tr td,
table tfoot tr th,
table thead tr td,
table thead tr th {
    color: #c2d1de;
}


.j-table {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(243, 150, 47, 1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0, 0, 0, .1);
    box-shadow: 0px 9px 0px rgb(255, 81, 20), 0px 9px 25px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 320px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.j-table:active {
    -webkit-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 6px;
}

.j-table:hover {
    color: #FFFFFF;
}

.j-table-sub {
    text-align: center;
    margin-top: -35px;
}

.small-t {
    font-size: 2.2em;
    padding: 13px;
}

.tables-second-row {
    margin-top: 10px;
}

/* User's Settings
   ========================================================================== */
.settings {
    height: 300px;
}

.settings a {
    color: #6e9eb9;
}

.settings .menu {
    width: 66px;
    margin-left: 0;
}

div#statistics.row .column,
div#statistics.row .columns {
    border-left: 1px solid #1d577b;
}

div#statistics.row strong a {
    color: white;
}

.rank {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out
}

div#statistics.row .column,
div#statistics.row .columns {
    border-left: 1px solid #6E9EB9;
}

.rank:hover {
    background-color: #6e9eb9;
}

.rank:hover b,
.rank:hover h5 {
    color: #2d3a41;
}

strong * {
    color: #81a0b3;
}

/* Account */
.account {
    margin-top: 30px;
}

#statistics {
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    padding-top: 15px;
}

.bits {
    margin: 0px;
}

/* errors pages; 401, 500, 404
   ========================================================================== */
.not-found {
    margin-top: 250px;
}

/* User's public profile
   ========================================================================== */
.rank:hover {
    background-color: rgba(239, 71, 3, 0.77);
}

.user-table td {
    text-align: center;
}

.lose td {
    color: #ba3c12;
}

.pagination {
    width: 139px;
}

.created {
    width: 12%;
}

.game {
    width: 23%;
}

.greeny {
    color: #7cba00;
}

.created small {
    color: #5A5A5A;
}

.stats td {
    text-align: center;
}

/* Forms
  ========================================================================== */
.register input {
    margin-bottom: 0;
}

.giveaway-form {
    width: 323px;
    margin-left: 10%;
}

/* FOUNDATION MEDIA QUERIES */
@media only screen and (max-width: 40.063em) {
    .content {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #F3DF6C;
        color: #7A7A7A;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* ==========================================================================
   balance 
   ========================================================================== */

.nav-top-bar .balance-bits span:first-child {
    color: #384183;
}

.nav-top-bar .balance-bits {
    color: #FFC107;
}

.nav-top-bar .balance-bits span:first-child:before {
    content: "";
    background: url(/img/bal.png) no-repeat;
    top: 108px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
}