#chart-inner-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#chart-inner-container .anim-cont {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}




#chart-inner-container .anim-cont .nyan{
    width: 100%;
    height: 100%;
    display: none;
}

#chart-inner-container .anim-cont .nyan.show{
    display: inherit;
}

#chart-inner-container .anim-cont .nyan img {
    display: block;
    max-width: 90%;
    max-height: 40%;
    width: auto;
    height: auto;
}

#chart-inner-container .max-profit {
    position: absolute;
    top: 0;
    left: 10%;
    margin-top: 3%;
    font-size: 0.5rem;
    color: var(--color);
}

#chart-inner-container .max-bet {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 0.5rem;
    color: var(--color);
}

#chart-inner-container .connection-state {
    position: absolute;
    top: 45%;
    left: 69px;
    right: 0;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(255, 87, 34, 0.81);
    line-height: 3rem;
    color: white;
    border-radius: 3px;
}

#chart-inner-container canvas.hide {
    display: none;
}

#chart-inner-container .max-profit, #chart-inner-container .max-bet, #games-log-container .games-log-hash {
    color: #6e9eb9;
}

/** Small screen and small controls **/
@media handheld, only screen and (max-width: 767px) {
    #chart-inner-container.small .max-profit {

    }
}

/* ==========================================================================
   bet buttons
   ========================================================================== */ 


#controls-inner-container .scaled-bets-container .scale-bet-button {
    box-shadow: none;
    border: 1px solid white;
    background: none;
}

#controls-inner-container .scaled-bets-container .scale-bet-button:hover {
    border: 1px solid #6e9eb9;
        background-color: #446272; 

}

#controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(1) {
    background: #F44336;
    border-color: #FF5722;
}

#controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(2) {
    background: #4CAF50;
    border-color: #CDDC39;
}

#controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(3) {
    background: #446272;
    border-color: #6e9db8;
}

#controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(4) {
    background: #f15b22;
    border-color: #E0933D;
}


#controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(1):hover, #controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(2):hover, #controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(3):hover, #controls-inner-container .scaled-bets-container .scale-bet-button:nth-of-type(4):hover  {
    background:   #6E9EB9;
    border-color: #446272;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}