#controls-selector-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}




#controls-selector-container .buttons-container {
    width: 100%;
    display: table;
}
/* Hide controls selector on small screen */
@media handheld, only screen and (max-width: 767px) {
    #controls-selector-container .buttons-container {
        display: none;
    }
}
/* Hide controls selector when small controls */
#controls-selector-container .buttons-container.small {
    display: none;
}

#controls-selector-container .button-holder {
    display: table-cell;
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #2D3A41;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

#controls-selector-container .button-holder a{
    line-height: 1.5rem;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #F05239;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

#controls-selector-container .button-holder:hover a{
    color: #F79534;
}

#controls-selector-container .button-holder a:hover {
    color: #fff;
}

#controls-selector-container .button-holder.tab-active {
    background-color: #F05239;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

#controls-selector-container .button-holder.tab-active a{
    color: #fff;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

#controls-selector-container .button-holder.tab-active:hover a {
    color: #fff;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}


#controls-selector-container .controls-widget-container {
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bgColor);
}

@media handheld, only screen and (max-width: 767px) {
    #controls-selector-container .controls-widget-container {
        top: 0;
    }
}
#controls-selector-container .controls-widget-container.small {
    top: 0;
}