#games-log-container {
    height: 100%;

    width: 100%;
    padding-top: 1rem;
}



#games-log-container .table-inner {
    height: 100%;

    width: 100%;
    overflow-y: scroll;
}

/* table */

table.games-log tr:nth-child(even) {
    background-color: rgba(68, 98, 114, 0.4) !important;
}

table.games-log tr:nth-child(even):hover {
    color: #ffffff;
    background: rgb(68, 98, 114) !important;
}

#games-log-container .games-log {
    height: 100%;
    max-height: 100%;
    width: 100%;
}

#games-log-container .games-log th {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
}

#games-log-container table .th-inner {
    position: absolute;
    top: 0;
    line-height: 1rem;
    text-align: left;
    color: var(--color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
}

#games-log-container table th:first-child .th-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

#games-log-container .games-log tr {
    width: 100%;
    display: table;
    text-align: left;
}

/* Adjust head columns */

#games-log-container .games-log th:nth-child(1) {
    width: 15%;
    padding-left: 0.2rem;
}

#games-log-container .games-log th:nth-child(2) {
    width: 15%;
}

#games-log-container .games-log th:nth-child(3) {
    width: 20%;
}

#games-log-container .games-log th:nth-child(4) {
    width: 15%;
}

#games-log-container .games-log th:nth-child(5) {
    width: 20%;
}

#games-log-container .games-log th:nth-child(6) {
    width: 15%;
}

/* Adjust body columns */

#games-log-container .games-log td:nth-child(1) {
    width: 15%;
    padding-left: 0.2rem;
}

#games-log-container .games-log td:nth-child(2) {
    width: 15%;
}

#games-log-container .games-log td:nth-child(3) {
    width: 20%;
}

#games-log-container .games-log td:nth-child(4) {
    width: 15%;
}

#games-log-container .games-log td:nth-child(5) {
    width: 20%;
}

#games-log-container .games-log td:nth-child(6) {
    width: 15%;
}

#games-log-container .games-log td:nth-child(6)>input {
    width: 60%;
}

#games-log-container .games-log td:nth-child(6)>input {
    max-width: 40%;
}

#games-log-container .games-log td:nth-child(6) .hash-copy {
    width: auto;
}


#games-log-container .games-log thead {
    border-bottom: 1px solid rgba(94, 94, 94, 0.2);
}

#games-log-container .games-log tbody {
    overflow-y: auto;
    height: 100%;
    bottom: 4rem;
}

#games-log-container .games-log tr:nth-of-type(even) {
    background-color: var(--gameLogEven);
}

#games-log-container .games-log tr td {
    font-size: 0.8rem;
    text-align: left;
}

#games-log-container .games-log tbody tr:hover {
    color: #ffffff;
    background: rgb(68, 98, 114);
}

#games-log-container .games-log a {
    font-weight: bold;
    transition: none !important;
}

#games-log-container .games-log-goodcrash {
    color: #4caf50;
}

#games-log-container .games-log-badcrash {
    color: #F44336;
}

#games-log-container .games-log-hash {
    background-color: transparent;
    border: 0;
    color: var(--white);
}

#games-log-container .games-log tbody tr:hover .games-log-hash {
    color: #ffffff;
}

#games-log-container .game-details {
    font-size: 11px;
    color: #408609;
    letter-spacing: 0.03em;
    font-weight: 200;
}


#games-log-container .hash-copy-cont {
    display: inline-block;
    cursor: pointer;
}

#games-log-container .hash-copy {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    margin-left: 1px;
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: var(--linkColor);
    border: 1px solid #1F1E1E;
    border-radius: 4px;
    white-space: nowrap;
    color: var(--white);
}

/* Game Hash Verify Button */

.hash-verify .fa-check:before {
    content: "\f00c";
    color: #f15b21;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.hash-verify .fa-check:hover:before {
    content: "\f00c";
    color: #4caf50;
}

.hash-verify .mobileVerify {
    display: none;
}

.hash-verify .verifyButton {
    background: #4CAF50;
    border: 1px solid #CDDC39;
    display: inline-block;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    outline: none;
    cursor: pointer;
}

.hash-verify .verifyButton:hover {
    border: 1px solid #6e9eb9;
    background-color: #446272;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}


@media handheld,
only screen and (max-width: 767px) {
    #games-log-container .hash-copy {
        width: 5em;
    }

    .hash-verify .verifyButton {
        display: none;
    }

    .hash-verify .mobileVerify {
        display: inline;
    }

    .hash-verify .mobileVerify:before {
        content: "\f00c";
        color: #f15b21;
        -webkit-transition: all 600ms ease-in-out;
        -moz-transition: all 600ms ease-in-out;
        -ms-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
        transition: all 600ms ease-in-out;
    }
    
    .hash-verify .mobileVerify:hover:before {
        content: "\f00c";
        color: #4caf50;
    }

}