/* Creating A Dark Theme Style for Game */


@import url("reset.css");
@import url("general.css");
@import url("topBar.css");
@import url("chat.css");
@import url("tabsSelector.css");
@import url("gamesLog.css");
@import url("controlsSelector.css");
@import url("controls.css");
@import url("strategy.css");
@import url("betBar.css");
@import url("chart.css");
@import url("chartControls.css");
@import url("players.css");
@import url("settingsSelector.css");
@import url("textDisplay.css");
@import url("displaySettings.css");
@import url("hotkeysSettings.css");
@import url("chatSettings.css");
@import url("loading.css");

@font-face {
    font-family: 'EnterTheGrid';
    src: url("../fonts/Enter-The-Grid.ttf");
}

/* Variables */

:root {
    --color: #b0b3c1;
    --linkColor: #ff8100;
    --bgColor: #181a1e;
    --bgColorHolder: #292d35;
    --bgColorNth: #202328;
    --white: #fff;
    --disabled: crimson;

    /* Top Bar */
    --topBarBgColor: #6E9EB9;

    /* Users Playing Game */
    --playing: #408609;
    --lost: #e03e3e;

    /* Connecting Box */
    --connectingColor: #ff8100;

    /* Game Logs */
    --gameLogEven: #1a1c21;
}

/**
 * Header Background/ Widget Border Color: #292d35
 * Widget Background Color: #181a1e
 */

html,
body {
    overflow: hidden;
    color: var(--white);
}


::-webkit-scrollbar-corner {
    background-color: #1c1c1f;
}

::-webkit-scrollbar-track {
    background-color: #181a1e;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #1c1c1f;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #2a2c36;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1c1c1f;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
}

a {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

a:hover {
    color: #52baea;
}

.fa-expand:before {
    content: "\f065";
    color: #EEF0F1;
}

/* Preloader for game */

.hide {
    /* display: none; */
    visibility: hidden;
}

.show {
    /* display: block; */
    visibility: visible;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--bgColor);
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
}


.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


/* No JavaScript Fallback */
.no-js #loader-wrapper {
    display: none;
}

.no-js #game-container {
    display: block;
}

/* ==========================================================================
   Game container
   ========================================================================== */

#game-wrapper {
    width: 100%;
    height: 100%;
}

#game-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#game-container {
    width: 100%;
    height: 100%;
}

/* Message bar */
#game-message-container {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    background-color: #181a1e;
    padding-top: 5px;
    font-size: 9px;
}

#game-message-container.hide {
    display: none;
}

#game-message-container>span {
    overflow-y: hidden;
    padding-right: 20px;
    display: block;
}

#game-message-container span>span,
#game-message-container span>a {
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-decoration: underline;
    font-weight: 800;
}


/* Playable container (The game) */
#game-playable-container {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    bottom: 0;
}

#game-playable-container.show-message {
    /* top: 1.2rem; */
    top: 3.2rem;
}

#game-message-container .close-message {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#game-message-container .close-message i {
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-right: 0.2rem;
}

@media handheld,
only screen and (max-width: 767px) {
    #game-message-container .close-message i {
        font-size: 1rem;
    }
}

#game-message-container {
    text-align: center;
    z-index: 999;
}

#game-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#game-left-container {
    display: table;
    height: 100%;
    width: 65%;
    position: relative;
}

#game-left-container.small-window {
    width: 100%;
}

#game-right-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65%;
    right: 0;
    border: 1px solid var(--bgColorHolder);
    margin: 5px;
}

#game-right-container .game-info-bar {
    position: absolute;
    bottom: .3rem;
    display: flex;
    font-size: 14px;
    background-color: #f79534;
    width: 100%;
    padding: 0.2rem 0.5rem;
    justify-content: space-around;
}

#game-right-container .game-info-bar .game-info {
    /* margin-right: 1rem; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    text-align: center;
    flex: 1 1 auto;
}


/* ==========================================================================
   Tabs container
   ========================================================================== */

#tabs-container {
    border-left: 1px solid var(--bgColorHolder);
    border-top: 1px solid var(--bgColorHolder);
    display: table-row;
}


/* ==========================================================================
   Chart-Controls container
   ========================================================================== */


#chartdiv * {
    transition: none !important;
}
#chart-controls-container {
    border-left: 1px solid var(--bgColorHolder);
    min-height: 400px;
    display: table-row;
    height: 50%;
}

#chart-controls-row,
#tabs-controls-row {
    display: table-row;

}

#chart-controls-col,
#tabs-controls-col {
    display: table-cell;
}

#tabs-controls-col .cell-wrapper,
#chart-controls-col .cell-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

#chart-controls-col {
    height: 45%;
}

#tabs-controls-col {
    height: 55%;
}


/* ==========================================================================
   mobile
   ========================================================================== */

@media only all and (max-width:40em) {
    /* CSS rules here */

    #controls-inner-container .bet-button {
        width: 100%;
        height: 57px;
        text-align: center;
        background-color: #F79534;
        margin-bottom: 10px;
        margin-top: -3px;
    }


    /* div.title a img {
        width: 108px;
        padding-top: 13px;
    } */


    .nav-top-bar .user-login {
        position: relative;
        top: -37px;
        left: 26px;
    }
}

/* Big Screens with small controls */
@media handheld,
only screen and (min-width: 767px) {
    #chart-controls-col.small {
        height: 10%;

    }
}

/* Small Screens with small controls */
@media handheld,
only screen and (max-width: 767px) {
    #chart-controls-col.small {
        height: 20%;
    }
}


/* ==========================================================================
   Space animations
   ========================================================================== */

.space-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.space-wrap.flying .space-container {
    -webkit-animation: spacebg 1s infinite linear;
    -moz-animation: spacebg 1s infinite linear;
    -o-animation: spacebg 1s infinite linear;
    -ms-animation: spacebg 1s infinite linear;
    animation: spacebg 1s infinite linear;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

.space-wrap.waiting .space-container-wrap {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}

.space-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    z-index: -1;
}

.space-container-wrap {
    z-index: -2;
    position: absolute;
    top: -480px;
    right: -320px;
    left: 0;
    bottom: 0;
    -webkit-animation: spacebg 15s infinite linear;
    -moz-animation: spacebg 15s infinite linear;
    -o-animation: spacebg 15s infinite linear;
    -ms-animation: spacebg 15s infinite linear;
    animation: spacebg 15s infinite linear;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

/*.space-container {*/
/*z-index: -2;*/
/*position: absolute;*/
/*top: -480px;*/
/*right: -320px;*/
/*left: 0;*/
/*bottom: 0;*/
/*background: #21242a url("/img/stars.png");*/
/*}*/



/*@-moz-keyframes spacebg {*/
/*0% {*/
/*-webkit-transform: translate3D(0, 0, 0);*/
/*-moz-transform: translate3D(0, 0, 0);*/
/*-o-transform: translate3D(0, 0, 0);*/
/*-ms-transform: translate3D(0, 0, 0);*/
/*transform: translate3D(0, 0, 0);*/
/*}*/
/*100% {*/
/*-webkit-transform: translate3D(-320px, 480px, 0);*/
/*-moz-transform: translate3D(-320px, 480px, 0);*/
/*-o-transform: translate3D(-320px, 480px, 0);*/
/*-ms-transform: translate3D(-320px, 480px, 0);*/
/*transform: translate3D(-320px, 480px, 0);*/
/*}*/
/*}*/
/*@-webkit-keyframes spacebg {*/
/*0% {*/
/*-webkit-transform: translate3D(0, 0, 0);*/
/*-moz-transform: translate3D(0, 0, 0);*/
/*-o-transform: translate3D(0, 0, 0);*/
/*-ms-transform: translate3D(0, 0, 0);*/
/*transform: translate3D(0, 0, 0);*/
/*}*/
/*100% {*/
/*-webkit-transform: translate3D(-320px, 480px, 0);*/
/*-moz-transform: translate3D(-320px, 480px, 0);*/
/*-o-transform: translate3D(-320px, 480px, 0);*/
/*-ms-transform: translate3D(-320px, 480px, 0);*/
/*transform: translate3D(-320px, 480px, 0);*/
/*}*/
/*}*/
/*@-o-keyframes spacebg {*/
/*0% {*/
/*-webkit-transform: translate3D(0, 0, 0);*/
/*-moz-transform: translate3D(0, 0, 0);*/
/*-o-transform: translate3D(0, 0, 0);*/
/*-ms-transform: translate3D(0, 0, 0);*/
/*transform: translate3D(0, 0, 0);*/
/*}*/
/*100% {*/
/*-webkit-transform: translate3D(-320px, 480px, 0);*/
/*-moz-transform: translate3D(-320px, 480px, 0);*/
/*-o-transform: translate3D(-320px, 480px, 0);*/
/*-ms-transform: translate3D(-320px, 480px, 0);*/
/*transform: translate3D(-320px, 480px, 0);*/
/*}*/
/*}*/
/*@keyframes spacebg {*/
/*0% {*/
/*-webkit-transform: translate3D(0, 0, 0);*/
/*-moz-transform: translate3D(0, 0, 0);*/
/*-o-transform: translate3D(0, 0, 0);*/
/*-ms-transform: translate3D(0, 0, 0);*/
/*transform: translate3D(0, 0, 0);*/
/*}*/
/*100% {*/
/*-webkit-transform: translate3D(-320px, 480px, 0);*/
/*-moz-transform: translate3D(-320px, 480px, 0);*/
/*-o-transform: translate3D(-320px, 480px, 0);*/
/*-ms-transform: translate3D(-320px, 480px, 0);*/
/*transform: translate3D(-320px, 480px, 0);*/
/*}*/
/*}*/