@import url("../vendor/font-awesome/css/all.css");
@import url("../vendor/simplegrid/simplegrid.css");
@import url("fonts.css");

html, body {
    -webkit-font-smoothing: antialiased;
    font: 20px "Verlag A", "Verlag B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--white);
    font-weight: 300;
    line-height: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #1f2023;
}

a {
    color: var(--linkColor);
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

a:hover {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
    color: #c87629;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}


.strong {
    font-weight: 600;
}

.grid-pad {
    padding-left:0;
    padding-right: 0;
}

@media handheld, only screen and (max-width: 767px) {
    [class*='col-'] {
        padding-right: 0;
        margin-bottom: 0;
    }

    .hide-for-small-only {
        display: none !important;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media handheld, only screen and (max-width: 767px) {
    .page-content {
        top: 0;
    }
}

/* Overwrite the native focus outline */
input:focus {
    border-color: var(--bgColorHolder);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


@media handheld, only screen and (max-width: 767px) {
    #handheld-detection {
        display: none;
    }
}




/* ==========================================================================
   Header Overwrite
   ========================================================================== */

@media handheld, only screen and (max-width: 767px) {
    .nav-top-bar {
        border-bottom: none;
        z-index: 999999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .nav-top-bar .username a {
        font-weight: bold;
    }
}


