@font-face {
    font-family: 'EnterTheGrid';
    src: url("../fonts/Enter-The-Grid.ttf");
}

/* Small screens */
@media only screen and (max-width: 40em) {
    .table-title {
        display: none !important;
    }
}

/* ==========================================================================
   status messages
   ========================================================================== */ 

   .success, .warning {
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: auto auto;
    display: block;
    position: relative;
    top: 18px;
}

.warning {
    background-color: #FF5722;
    color: #f5f5f5;
    border: 1px solid #a53c1b;
}

.success {
    background-color: #8BC34A;
    color: #2d3941;
    border: 1px solid #598a20;
}

.validation-text {
    color: #FF9800;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

/* FOUNDATION MEDIA QUERIES */

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */