#strategy-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#strategy-container .widget-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1.2rem;
    overflow-y: scroll;
}




#strategy-container .control-buttons {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

#strategy-container .buttons-container {
    text-align: right;

}

#strategy-container .strategy-invalid-data {
    font-size: .8rem;
    color: var(--disabled);
    /* padding-left: .3em; */
    display: block;
    text-align: center;
}


/* Auto Bet widget
   ========================================================================== */

#strategy-container .auto-bet-container {
    padding-top: 0.2rem;
    color: var(--white);
}

#strategy-container .auto-bet-container div:nth-of-type(even) input[type=text]
{   color: #fff;
}

#strategy-container .auto-bet-container>div:nth-of-type(even) {
    background-color: var(--bgColorNth);
    color: #fffcfc !important;
}

#strategy-container .stra-base-bet {
    /* background-color: #ffffff; */
}

#strategy-container .stra-cash-out-at {
    /* background-color: whitesmoke; */
}

#strategy-container .stra-base-bet, #strategy-container .stra-cash-out-at, #strategy-container .stra-max-bet-stop {
    line-height: 1.7rem;
    padding-left: 1em;
}

#strategy-container .stra-on-loss {
    padding-left: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    /* background-color: whitesmoke; */
}

#strategy-container .stra-on-loss:first-child {
    line-height: 1em;
}

#strategy-container .stra-on-win {
    padding-left: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    /* background-color: #ffffff; */
}

#strategy-container .stra-on-win:first-child {
    line-height: 1em;
}

#strategy-container .stra-max-bet-stop {
    /* background-color: #ffffff; */
}

#strategy-container .stra-on-loss-return-to-base-radio, #strategy-container .stra-on-loss-increase-bet-by, #strategy-container .stra-on-win-return-to-base-radio, #strategy-container .stra-on-win-increase_bet_by {
    margin-left: 1.2em;
}


/* Strategy Script
   ========================================================================== */

#strategy-container .strategy-input {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(94, 94, 94, 0.2);
    background-color: var(--bgColorHolder);
    color: var(--white);
    display: block;
    resize: both;
}

#strategy-container .strategy-select {
    background-color: var(--bgColorHolder);
    border: 1px solid var(--bgColorHolder);
    color: var(--white);
    border-radius: 0;
    display: inline-block;
    height: 1rem;
    cursor: pointer;
    outline: none;
}

#strategy-container .strategy-start:disabled, #strategy-container .strategy-stop:disabled, #strategy-container .strategy-select:disabled {
    background-color: grey;
    cursor: not-allowed;
    color: white;
}

#strategy-container .strategy-input:disabled {
    color: var(--disabled);
}

#strategy-container .strategy-start {
    margin-right: 0.2rem;
    background-color: #4CAF50;
    color: white;
    border-color: rgb(42, 92, 123);
    border-radius: 0;
    display: inline-block;
    height: 1rem;
    cursor: pointer;
    outline: none;
}

#strategy-container .strategy-stop {
    margin-right: 0.2rem;
    background-color: #f05239;
    color: white;
    border-color: #2a5c7b;
    border-radius: 0;
    display: inline-block;
    height: 1rem;
    cursor: pointer;
    outline: none;
}

#strategy-container .strategy-select {
    margin-right: 0.2rem;
}

#strategy-container .bet-title {
    font-weight: 500;
}

#strategy-container .auto-bet-container input[type="text"] {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    padding: 0;
    resize: none;
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
    width: 5em;
    font-size: .8em;
    font-weight: 500;
    color: var(--white);
}
















