#text-display-container {
    width: 100%;
    height: 100%;
    font-size: 100%;
    text-align: center;
}

#text-display-container span {
    font-size: inherit;
}

#text-display-container.starting span, #text-display-container.in-progress span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

#text-display-container.ended span.busted {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    line-height: 100%;
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}




#text-display-container.ended span.at {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    line-height: 100%;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

