@font-face {
    font-family: 'EnterTheGrid';
    src: url("../fonts/Enter-The-Grid.ttf");
}

#top-bar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999;
}

#top-bar {
    font-family: EnterTheGrid;
    position: static;
    background-color: #F79534;
    border-bottom: 2px solid #EC6B1C;
    top: 0;
    right: 0;
    left: 0;
    height: 44px;
}

#top-bar .title {
    float: left;
    margin-left: .5rem;
}

#top-bar .title h1 {
    margin: 0;
    color: #354081;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px;
    font-family: "Courier New";
}

#top-bar .title h1:hover {
    color: #f0f1f2;
}

#top-bar .user-login {
    float: right;
    line-height: 40px;
    color: #cae3f1;
    display: inline-flex;
}


/** User logged **/

#top-bar .user-login .balance-bits {
    display: inline-block;
    padding-right: 0.5rem;
}

#top-bar .user-login .balance-bits span {
    line-height: 40px;
    color: #cae3f1;
}

#top-bar .user-login .username {
    display: inline-block;
    padding-right: 2rem;
}

@media handheld,
only screen and (max-width: 767px) {
    #top-bar .user-login .username {
        padding-right: 0.5rem;
    }
}

#top-bar .user-login .username a {
    line-height: 2rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#top-bar .user-login .username a:hover {
    color: #F0F1F2 !important;
}

#top-bar .user-login .register a {
    color: #111722;
}

#top-bar .user-login .register a:hover {
    color: #F0F1F2 !important;
}

#top-bar .user-login .login a {
    color: #111722;
}

#top-bar .user-login .login a:hover {
    color: #F0F1F2 !important;
}

#top-bar .user-login .login {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 10px;
}

#top-bar .icon {
    display: none;
}

/* ==========================================================================
   balance 
   ========================================================================== */

#top-bar .user-login .balance-bits span:first-child {
    color: #384183;
}

#top-bar .user-login .balance-bits span {
    line-height: 40px;
    color: #354081;
}

#top-bar .user-login .balance-bits span:first-child:before {
    content: "";
    background: url(/img/bal.png) no-repeat;
    top: 108px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
}

/* ==========================================================================
   homepage buttons 
   ========================================================================== */

   #top-bar .nav-item a {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid white;
    vertical-align: middle;
    background: transparent;
    padding: 10px;
    color: #354081;
    letter-spacing: 1px;
}

#top-bar .nav-item a:hover {
    background: #EC6B1C;
    color: #446272;
}

/* Mobile Styles For Game Page*/
/* Top Bar Mobile CSS */

.navMobile {
    display: none;
}

@media (max-width: 767px) {

    #top-bar .user-login {
        display: none;
    }

    #top-bar .icon {
        background: #F05239;
        padding: 14px 16px;
        color: white;
        height: 43px;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navMobile {
        display: block;
        font-family: EnterTheGrid;
        overflow: hidden;
        width: 100%;
        background-color: #333;
        position: relative;
        z-index: 99999999;
        top: -.2rem;
    }

    .navMobile #navLinks {
        display: none;
    }

    .navMobile #navLinks a {
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 16px;
        text-align: left !important;
        display: block;
    }

    .navMobile #navLinks a:hover {
        background-color: #f05239;
        color: #ffffff;
    }

    .navActive {
        background-color: black;
        color: white;
        opacity: .7;
    }

    .navMobile #navLinks .balanceBits {
        background-color: #7396a9;
        /* position: absolute; */
        padding: 10px 5px;
        text-decoration: none;
        display: block;
        font-weight: bolder;
    }

    .navMobile #navLinks .balanceBits span:first-child {
        color: #384183;
    }

    .navMobile #navLinks .balanceBits span {
        color: #FFC107;
    }

    .navMobile #navLinks .balanceBits span:first-child:before {
        content: "";
        background: url(/img/bal.png) no-repeat;
        top: 108px;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain !important;
    }

    /* .navMobile .balance-bits {
        margin-top: .6rem;
        margin-right: 4rem;
        text-decoration: none;
        display: block;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
    }

    .navMobile .balance-bits span:first-child {
        color: #384183;
    }

    .navMobile .balance-bits span {
        color: #FFC107;
    }

    .navMobile .balance-bits span:first-child:before {
        content: "";
        background: url(/img/bal.png) no-repeat;
        top: 108px;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain !important;
    }

    .navMobile #navLinks .balanceBits {
        display: none;
    } */

    /* Nav Icons */
    .iconNav {
        padding-right: 5px;
        padding-left: 0;
        margin-right: 5px;
        color: #f79534;
    }

    .navMobile #navLinks a:hover .iconNav {
        color: white;
    }


    /* Balance When the screen is smaller */
    @media (max-width:490px) {
        .navMobile .balance-bits {
            display: none;
        }

        /* .navMobile #navLinks .balanceBits {
            background-color: #7396a9;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            font-weight: bolder;
        }

        .navMobile #navLinks .balanceBits span:first-child {
            color: #384183;
        }

        .navMobile #navLinks .balanceBits span {
            color: #FFC107;
        }

        .navMobile #navLinks .balanceBits span:first-child:before {
            content: "";
            background: url(/img/bal.png) no-repeat;
            top: 108px;
            width: 28px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
            background-size: contain !important;
        } */
    }
}