<!DOCTYPE html>
<html>
{{#def.include('template/head_old')}}
<body>
<div class="panel rounded not-found">
    <div class="row">
        <div class="large-1 columns">
            <img src="/img/mainLogo.png" alt=""/>
        </div>
        <div class="large-11 columns">
            <h2>You are not authorized to see this </h2>
            <a class="border-button red right" href="/login">Please login and try it again</a>
        </div>
    </div>
</div>
</body>
</html>