{{##def.page_title = 'Your account' #}}
{{##def.content:

<style>

    .positiveBal {
        color: #8BC34A !important;
        font-weight: bold;
    }

    .negativeBal {
        color: #F05239 !important;
        font-weight: bold;
    }

</style>
<script type="text/javascript">
    function copyAddress() {
        address = document.getElementById("depositAddress");
        address.select();
        document.execCommand('copy');
        alert(`${address.value} successfully copied`);
    }    
</script>
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                localStorage.clear();
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>

<div class="container">
    <div class="wrapper"> 
            <!-- Left Menu -->
        <div class="leftBar">
            <!-- <img src="#" alt="Made2Crash"> -->
            <div class="userName">{{=it.user.username}}</div>
            <ul>
                <li class="active"><a href="#">Account</a></li>
                <li><a href="/security">Security</a></li>
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdraw">Withdraw</a></li>
                <li><a href="/support">Support</a></li>
                <li><a onclick="logout();">Logout</a></li>
            </ul>
        </div>

        <!-- Main Page Content -->
        <div class="mainProfile">
            <h2>Account Info</h2>
            <hr>
            <div class="ravencoin-address">
                <b>Deposit Address:</b>
                <input type="text" value="{{=it.user.deposit_address}}" readonly id="depositAddress">
                <img src="img/icons/file_copy.svg" onclick="copyAddress()" class="copy-icon">
            </div>
            <!-- <div class="row"> -->
                <!-- <div class="large-5 columns">
                    <img class="show-for-medium-up qr" src="http://raven-blockchain.info/qr/{{=it.user.deposit_address}}" alt=""/>
                </div> -->
                <div class="notes">
                    Transfer Ravencoins to this address to have your account credited. Accounts are only credited after <b>6 confirmation</b> on the RavenCoin network.
                    This should take on average 6 minutes. 1 minute per confirm. You can check <a href="https://ravencoin.network/address/{{=it.user.deposit_address}}">Ravencoin.network</a> to see if your transactions have received 6 confirmations yet.
                    <strong><a href="/faq#deposit"> <small>more?</small></a></strong>
                </div>
            <!-- </div> -->
            <br>
            <a class="border-button blue right" href="/user/{{=it.user.username}}">Public Profile</a>
            <h5>Account Information</h5>
            <div id="statistics" class="row">
                <div class="columns data large-4">
                    <p><b>Deposits </b></p>
                    <h5>{{#def.format:{n: it.user.deposits, decimals:8} }} RVN</h5>
                </div>
                <div class="columns data large-4">
                    <p><b>Withdrawals </b></p>
                    <h5>{{#def.format:{n: it.user.withdrawals, decimals:8} }} RVN</h5>
                </div>
                <div class="columns data large-4">
                    <p><b>Net Profit</b></p>
                    <h5 id="netProfit">{{#def.format:{n: it.user.net_profit, decimals:8} }} RVN</h5>
                </div>
            </div>
        </div>
    </div>

    <script>
        netBal = document.getElementById("netProfit");
        netText = netBal.innerText;
    
        if (netText.includes("-")) {
            netBal.classList = "negativeBal"
        } else {
            netBal.classList = "positiveBal"
        }
    </script>
</div>
#}}
{{#def.include('./template/main_old')}}

