{{##def.page_title = 'Calculator' #}}
{{##def.content:
    <h1 style="color: #f05239">Odds Calculator</h1>
    <div id="calculator">
        Loading Calculator...
    </div>
    <!--RequireJs-->
    <script data-main="/scripts/calculator-main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js"></script>
#}}
{{#def.include('./template/main_old')}}