{{##def.page_title = 'Deposit History' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
    window.onload = function () {
        if (document.getElementById('copyAddress')) {
            document.getElementById('copyAddress').onclick = function () {
                var copyText = document.getElementById("depositAddress");
                copyText.select();
                document.execCommand("copy");
                alert('Copied to clipboard!')
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
    <div class="container">
        <div class="wrapper">
            <div class="leftBar">
                <!-- <img src="#" alt="Made2Crash"> -->
                <div class="userName">{{=it.user.username}}</div>
                <ul>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/security">Security</a></li>
                    <li class="active"><a href="#">Deposit</a></li>
                    <li><a href="/withdraw">Withdraw</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a onclick="logout();">Logout</a></li>
                </ul>
            </div>
            <div class="mainProfile">
                <h5 class="">Deposit History</h5>
                <hr>
                    <div class="ravencoin-address">
                        <b>Deposit Address:</b>
                        <input type="text" id="depositAddress" value="{{=it.user.deposit_address}}" readonly>
                        <img src="img/icons/file_copy.svg" id="copyAddress" class="copy-icon">
                    </div>
                    <a href="raven:{{=it.user.deposit_address}}?label=deposit">Ravencoin link</a>

                {{?it.user.deposits.length > 0}}
                    <table>
                        <thead>
                            <tr>
                                <td>RVN</td>
                                <td>Transaction</td>
                                <td class="show-for-medium-up">Created</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{~it.user.deposits :deposit:index}}
                                <tr>
                                    <td>{{#def.format: {n: deposit.amount, decimals: 8 } }}</td>
                                    <td><a href="https://ravencoin.network/tx/{{=deposit.txid}}" target="_blank">link</a></td>
                                    <td class="show-for-medium-up">{{=deposit.created}}</td>
                                </tr>
                            {{~}}
                        </tbody>
                    </table>
                {{??}}
                    <p>You don't have deposits</p>
                {{?}}

            </div>
        </div>
    </div>
#}}
{{#def.include('./template/main_old')}}

