{{##def.page_title = 'Edit Unterminated Games' #}}

{{##def.content:

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a href="/portal">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a href="/portal/explorer">
                                <i class="fa fa-th"></i>
                                <span>Transactions Explorer</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a class="active" href="/portal/edit-unterminated-games">
                                <i class="fa fa-th"></i>
                                <span>Edit Unterminated Games</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="table-agile-info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit Unterminated Games
                        </div>
                        <div>
                                {{?it.user.unterminatedGames.length > 0}}
                            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                                <thead>
                                    <tr>
                                        <th data-breakpoints="xs">Game ID</th>
                                        <th data-breakpoints="xs sm md">Crashed At</th>
                                        <th data-breakpoints="xs sm md" data-title="DOB">Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{~it.user.unterminatedGames :unterminatedGames:index}}
                                    <tr>
                                        <td>{{=unterminatedGames.gameId}}</td>
                                        <td>{{=unterminatedGames.gameCrash}}</td>
                                        <td>{{=unterminatedGames.created}}</td>
                                        <td class="show-for-large-up">
                                            <form action="/edit-unterminated-games" method="post" class="form-inline" role="form">
                                                <div class="form-group">
                                                    <input type="hidden" name="gameId" value="{{=unterminatedGames.gameId}}">
                                                    <input type="hidden" name="ended" value="t">
                                                </div>
                                                <button type="submit" class="btn btn-danger">Approve</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{~}}
                                </tbody>
                            </table>
                            {{??}}
                            <br>
                            <br>
                            <br>
                            <p>There are no Unterminated Games :).</p>
                        {{?}}
                        </div>
                    </div>
                </div>
            </section>
        </section>

#}}
{{#def.include('./template/admin_main')}}