<!DOCTYPE html>
<html>
<head>
    <title>Error :(</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
<div class="panel rounded not-found">
    <div class="row">
        <div class="large-1 columns">
            <img src="/img/mainLogo.png" alt=""/>
        </div>
        <div class="large-11 columns">
            <h4>Something bad happened. My humans are working to fix this mess, please come back later...</h4>
            <br/>
            {{?it.error}}
            <h6>Error: {{=it.error}}</h6>
            {{?}}
        </div>
    </div>
</div>
</body>
</html>


