{{##def.page_title = 'Transactions Explorer' #}}

{{##def.content:

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a href="/portal">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a class="active" href="/portal/explorer">
                                <i class="fa fa-th"></i>
                                <span>Transactions Explorer</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a href="/portal/edit-unterminated-games">
                                <i class="fa fa-th"></i>
                                <span>Edit Unterminated Games</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="table-agile-info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Transactions Explorer
                        </div>
                        <div>
                                {{?it.user.transactions.length > 0}}
                            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                                <thead>
                                    <tr>
                                        <th data-breakpoints="xs">Username</th>
                                        <th>RVN</th>
                                        <th data-breakpoints="xs sm md">Destination Address</th>
                                        <th>Status</th>

                                        <th data-breakpoints="xs sm md" data-title="DOB">Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{~it.user.transactions :transactions:index}}
                                    <tr>
                                        <td>{{=transactions.userName}}</td>
                                        <td>{{#def.format: {n: transactions.amount, decimals: 8 } }}</td>
                                        <td>
                                            <span
                                                class="visible-for-small-only">{{=transactions.shortDestination}}...</span>
                                            <span class="show-for-medium-up">{{=transactions.destination}} </span>

                                        </td>
                                        <td>
                                            {{?transactions.status}}
                                            <a href="https://ravencoin.network/tx/{{=transactions.status}}"
                                                target="_blank">Transferred</a>
                                            {{??}}
                                            <a href="#myModal-2" data-toggle="modal" class="btn btn-danger">
                                                    Approve
                                            </a>

                                            <!-- Modal Content... -->
                                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
                                                tabindex="-1" id="myModal-2" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button aria-hidden="true" data-dismiss="modal"
                                                                class="close" type="button">×</button>
                                                            <h4 class="modal-title">Approve Transaction</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/explorer" method="post" class="form-inline" role="form">
                                                                <div class="form-group">
                                                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                                    <input type="text" name="transactionId" class="form-control sm-input" placeholder="Enter Transaction ID">
                                                                    <input type="hidden" name="fundingId" value="{{=transactions.fundingId}}">
                                                                </div>
                                                                <button type="submit" class="btn btn-default">Approve Transaction</button>
                                                            </form>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {{?}}
                                        </td>
                                        <td class="show-for-large-up">{{=transactions.created}}</td>
                                    </tr>
                                    {{~}}
                                </tbody>
                            </table>
                            {{??}}
                            <br>
                            <br>
                            <br>
                            <p>There are no pending transactions.</p>
                        {{?}}
                        </div>
                    </div>
                </div>
            </section>
        </section>

#}}
{{#def.include('./template/admin_main')}}