{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="row faq panel radius">

    <h5>Frequently Asked Questions</h5>
    <hr>
    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a href="#how-to-play">How to play?</a></li>
                <li><a href="#RVN">What is RavenCoin?</a></li>
                <li><a href="#deposit">How do I deposit RavenCoin?</a></li>
                <li><a href="#deposit-address">How long is the deposit address valid for?</a></li>
                <li><a href="#deposit-time">How long for deposits to be credited to account?</a></li>
                <li><a href="#withdraw">How do I withdraw RVN?</a></li>
                <li><a href="#gross-profit">What is Gross Profit?</a></li>
                <li><a href="#dropout">What happens if I disconnect form the game?</a></li>
                <li><a href="#high">How high can the game go?</a></li>
                <li><a href="#limit">What is the most I can bet?</a></li>
                <li><a href="#last">What is the bonus?</a></li>
                <li><a href="#chances">Best chances to win?</a></li>
                <li><a href="#odds">What are the game odds?</a></li>
                <li><a href="#crash-point">How is the game bust calculated?</a></li>
                <li><a href="#fair">Is the game fair?</a></li>
                <li><a href="#verify">How to verify the game results?</a></li>
                <li><a href="#force">What happens when the server forces people to cash out?</a></li>
                <li><a href="#addiction">Gambling Addiction</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9">
        <dl>
            <h3 id="basics">Basics</h3>
            <dd><b><a name="bitcoin-gambling"></a>What is Crypto gambling?</b>
                <p>
                    Crypto gambling is a general term for any type of gambling wherein bets are placed in units of
                    cryptos as opposed to a fiat currency or any other asset.
                </p>
            </dd>

            <dd>
                <b><a name="how-to-play"></a>How to play?</b>
                <p>
                    Place a bet. Watch the multiplier increase from 1x upwards! Cash out any time to get your bet
                    multiplied by that multiplier. But be careful because the game can bust at any time, and you'll get nothing!
                </p>
            </dd>
            <dd>
                <b><a name="RVN"></a>What is RavenCoin?</b>
                <p>
                    Ravencoin is a peer-to-peer blockchain, handling the efficient creation and transfer of assets from one party to another.
                    You are able to deposit and withdraw RVN at any time by going to your <a href="/account">account page</a>.
                </p>
            </dd>
             <h3>Deposits</h3>
            <dd>
                <b><a name="deposit"></a>How do I deposit RavenCoin?</b>
                <p>
                    You will need to transfer RavenCoins to the deposit address on your account page. If you do not have any RavenCoins,
                    we can recommend <a href="https://bittrex.com/Market/Index?MarketName=BTC-RVN">Bittrex.com</a>. Other great options are <a href="https://www.binance.com/en/trade/RVN_BTC">Binance.com</a>, <a href="https://www.coinexchange.io/market/RVN/BTC">CoinExchange.com</a> and others.
                    And remember, you can also withdraw directly to the RavenCoin address on
                    your account page!
                </p>
            </dd>
            <dd>
                <b><a name="deposit-address"></a>How long is the deposit address valid?</b>
                <p>
                    It is <strong>permanently</strong> attached to your account. You can save it, or use it for automatic
                    funding, or whatever else you like. All payments to this address will be automatically credited to your account.
                </p>
            </dd>
            <dd>
                <b><a name="deposit-time"></a>How long do deposits take to be credited?</b>
                <p>
                    We credit accounts upon <strong>6 confirmations</strong> on the RavenCoin network, which on average is approximately 6 minutes from the time of the transaction. 1 minute per confirmation.
                </p>
            </dd>
            <dd>
                <b><a name="withdraw"></a>How do I withdraw RavenCoin?</b>
                <p>
                    On your account page, you can transfer RVN to any RavenCoin address you want. Small withdrawals
                    (i.e. smaller than the balance of our hot-wallet) are processed instantly and you will be given the transaction ID immediately.
                </p>
                <p>
                    Larger withdrawals will be shown in your withdrawal page as "PENDING" and will require us to manually remove
                    sufficient funds from our cold storage. Usually this process will take less than two hours, but may take up to 24 hours,
                    depending on the time of day and other circumstances.
                </p>
                <p>
                    We remove 4 RVN from any withdrawal amount to cover mining fees. We charge this amount
                    <strong>regardless</strong> of the actual mining fees attached to the transaction, which may be more or less
                    than this, depending on the block competition at the time of your withdrawal.
                </p>
                <p>
                    Withdrawals must be in increments of 1 RVN, with a minimum withdrawal of 5 RVN (of which 4 RVN
                    goes towards the mining fee). As required, we will chip in our own money to help expedite confirmation time, such that
                    we typically pay more in mining fees, despite charging you only 1 RVN.
                </p>
            </dd>
            <dd>
                <b><a name="gross-profit"></a> What is gross profit?</b>
                <p>
                    Gross profit refers to the sum of the profit from each game you've played without considering your loses.
                </p>
            </dd>
            <h3>Game</h3>
            <dd>
                <b><a name="dropout"></a>What happens if I disconnect from the game?</b>
                <p>
                    If player loses connection his game keeps going (assuming the game is still in progress) until he regains connection and managed to cashout if he had no auto cashout defined. 
                </p>
            </dd>
            <dd>
                <b><a name="high"></a>How high can the game go?</b>
                <p>
                    There's no real limit! However, if during a game we ever are facing a net loss of 1% of the bankroll or greater,
                    the server will automatically cash out all players still in the game, forcing them to enjoy an early win and a sizeable profit.
                    You can see in game what the current max win is (in the bottom right of the chart)
                </p>
            </dd>
            <dd>
                <b><a name="limit"></a>What is the most I can bet?</b>
                <p>
                    We currently have a bet limit of 5,000 RVN.
                </p>
            </dd>
            <dd>
                <b><a name="last"></a>What is the bonus?</b>
                <p>
                    The bonus is a special prize that is awarded to the last people to cash out before the game busted. Getting the bonus
                    is critical to skillful playing of bustabit, as it is the <strong>only</strong> way to overcome house odds.
                </p>
                <p>1% of each player's stake goes into the bonus pot. So if there are 4 players, betting 400, 300, 200, and 100, there will be 10 RVN in the pot.
                    If the biggest player wins, he gets the whole pot. The site works out the rate he would be getting if he won, ie. 400 RVN bet gives 10 RVN bonus
                    - or 1/40th bonus per bit bet. It then applies the same rate to whoever actually wins.
                </p>
                <p>So if the 100 bit player wins, he gets 1/40th of 100, or 2.5 RVN. That leaves 7.5 RVN in the pot,
                    which goes to the next best placing player(s).
                </p>
                <p>Suppose the 200 bit player comes 2nd. He is due 1/40th of 200, or 5 RVN. There are still 7.5 RVN in the pot,
                    so he gets the full 5 RVN he is due - the same as if he had come in 1st place.
                </p>
                <p>
                    Suppose the 300 bit player comes 3rd. He's due 7.5 RVN (300/40) but there are only 2.5 RVN left in the pot, so he gets those and that's all. There's nothing left for the 4th or worse place players.
                </p>
                <p>
                    1% of games will instant bust (0x) and no bonuses will be awarded, all other games have bonuses equal to 1% of the amount wagered.
                </p>
            </dd>
            <dd>
                <b><a name="chances"></a>Best chances to win?</b>
                <p>
                    Please visit our <a href="/guide">strategy guide</a> on how to play our game. This simple guide will explain how our game works and how you can overcome the house edge.
                    On top of that we have a calculator tool that you can use to check your odds of winning with x cashout. 
                </p>
            </dd>
            <h3>Fairness</h3>
            <dd>
                <b><a name="odds"></a>What are the game odds?</b>
                <p>
                    The house margin is scaled between 0 and 2 %, depending on how long you hold. An additional 1 % is effectively
                    taken from every bet and put into the <a href="#bonus">bonus pool</a>, which is distributed in its entirety
                    every game. As a consequence, skilless or random play has—at worst—an expected return of -2 %, but it is possible to overcome
                    the house margin by skillfully getting bonuses.
                </p>
                <p>
                    The numbers are baked into the game, so you never need to worry about it. We do not
                    have a fixed house margin, as this would prevent highly conservative play (e.g. If you were
                    only attempting to make $2 in a $100 game, a house margin of 2 % would be 50 % of your potential profits!).
                    Our unique formula makes it fair for both highly conservative play (cash out early) and highly aggressive
                    play (hold until you're a millionaire). All games are <a href="#fair">provably fair</a>.
                </p>
                <p>
                    The exact formula for the houses expected return is:<br />
                    <code>2 % * (intendedCashOut - roomAmount) * (roomAmount / intendedCashOut)</code><br />
                    But to really get a good sense of how this affects you, please use our handy <a href="/calculator">odds calculator</a>.
                </p>
                <p>
                    The other important thing to keep in mind is that every game has a 1 % chance of instantly busting. We do not make
                    <strong>any</strong> money on it, but rather use this to fund the bonus scheme. This is an important consideration to make if you
                    are playing in such a way that you never win the bonus.
                </p>
                <img src="/img/house-edge.png">
            </dd>
            <dd>
                <b><a name="crash-point"></a>How is the game bust calculated?</b>
                <p>
                    The code that decides the multiplier for each round is here:
                </p>
                <p>
                    <a href="https://made2crash.com">https://github.com/moneypot/gameserver/blob/master/server/lib.js#L146-L158</a>
                </p>
                <p>
                    It basically does three things.
                </p>
                <p>
                    First, it mixes the hash with the clientSeed (decided by the provably fair seeding event) using hmac-sha256
                </p>
                <p>
                    Secondly it gives a 1 in 101 chance of instant busting
                </p>
                <p>
                    Third, it works out what the multiplier would be if there was no
                    house edge.
                </p>
                <p>
                    Fourth, it takes 1% off the multiplier and adds on 0.01x:
                </p>
                <p>
                    So half the time (other than 0x bust which we can ignore because
                    they pay for themselves with the bonus) the multiplier will be 1.99x
                    or more.
                </p>
                <p>
                    That means if we bet 1.99x we have a 50% chance of winning (again,
                    ignoring 0x busts), and so the house edge is:
                </p>
                <p>
                    <code>100 - (1.99 * 50) = 100 - 99.5 = 0.5%</code>
                </p>
                <p>
                    The extra 0.01 that gets added on to the multiplier is half of the 1%
                    that was taken off in this case, leaving the house edge at 0.5%. As
                    the multiplier gets bigger, the 1% that is taken off gets bigger, and
                    the 0.01x that gets added on becomes less and less significant,
                    causing the house edge to tend to 1%
                </p>
            </dd>
            <dd>
                <b><a name="fair"></a>Is the game fair?</b>
                <p>
                    Absolutely! And we can prove it. Please see:
                    <a href="https://bitcointalk.org/index.php?topic=922898.0">the bitcoin talk thread</a>
                    for technical details.
                </p>
            </dd>
            <dd>
                <b><a name="verify"></a>How to verify the game results?</b>
                <p>
                    There are already 3rd party scripts to verify the game hashes and to calculate the results like this
                    <a href="https://jsfiddle.net/gideonpraise/b459pquk/embedded/result" target="_blank">JSFiddle</a>.
                </p>
            </dd>
            <dd>
                <b><a name="force"></a>What happens when the server forces people to cash out?</b>
                <p>
                    Under some circumstances the server will force people to cash out. The most common reason is that the game multiplier
                    has gotten so large that we are risking too much of our bankroll (10 % or more). Another possible reason is
                    unexpected server problems. If more than one person in a game is affected by the forced
                    cash-out, we allocate the last cash-out bonus to a random player.
                </p>
            </dd>

            <dd>
                <b><a name="addiction"></a>Do you have gambling addiction?</b>
                <p>
                    Gambling addiction, also known as compulsive gambling, is a type of impulse-control disorder.
                    Compulsive gamblers can’t control the impulse to gamble, even when they know their gambling is hurting themselves or their loved ones. Gambling is all they can think about and all they want to do, no matter the consequences. Compulsive gamblers keep gambling whether they’re up or down, broke or flush, happy or depressed. Even when they know the odds are against them, even when they can’t afford to lose, people with a gambling addiction can’t “stay off the bet.”
                </p>
                <p>
                    Gamblers can have a problem, however, without being totally out of control. Problem gambling is any gambling behavior that disrupts your life. If you’re preoccupied with gambling, spending more and more time and money on it, chasing losses, or gambling despite serious consequences, you have a gambling problem.
                </p>
                <p>
                    <p>If you think you have this problem please visit one of these sites to get assistance:</p>
                    <b>UK: </b><a href="http://www.gambleaware.co.uk/">http://www.gambleaware.co.uk/</a></br>
                    <b>US: </b><a href="http://www.ncpgambling.org/help-treatment/help-by-state/">http://www.ncpgambling.org/</a></br>
                    <b>Self Help: </b><a href="http://www.gamblersanonymous.org/ga/">http://www.gamblersanonymous.org/ga/</a>
                </p>
            </dd>
        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main_old')}}
