{{##def.page_title = 'Game Info' #}}

{{##def.content:
    <div class="row panel radius">
        <h4>Game #<strong>{{=it.game.id}}</strong> information</h4>
        <p>
            <b>Busted At: </b> {{=it.game.game_crash/100}}x
        </p>
        <p>
            <b>Played: </b>{{=it.game.created}} <small>{{=it.game.timeago}}</small>
        </p>
        <a href="https://fiddle.jshell.net/gideonpraise/b459pquk/show/dark/?hash={{=it.game.hash}}" target="_blank" class="border-button blue right">Verify Game</a>
        <br>
        <br>
        <hr>
        <h6>Players</h6>
        <table class="user-table">
          <thead>
            <tr>
                <td>Player</td>
                <td>Bet</td>
                <td>Cashed Out</td>
                <td>Bonus</td>
                <td>Profit</td>
            </tr>
          </thead>
          <tbody>
            {{~it.plays :play:index}}
                <tr {{?!play.cash_out}}class="lose"{{?}}>
                    <td>
                        <strong>
                            <a href="/user/{{=play.username}}">{{=play.username}}</a>
                        </strong>
                    </td>
                    <td>
                        {{#def.format: { n: play.bet, decimals: 5 } }} RVN
                    </td>
                    <td>
                        {{? play.cash_out}}
                        {{#def.format: {n: play.cash_out / 100 * 1e7, decimals: 2} }}x
                        {{??}}
                        Lose
                        {{?}}
                    </td>
                    <td>
                        {{? play.bonus }}
                           {{#def.format: {n: play.bonus/play.bet* 100 * 100 * 1e6, decimals: 2} }}%
                        {{??}}
                          -
                        {{?}}
                    </td>
                    <td>
                        {{#def.format: { n: (play.cash_out ? play.cash_out : 0) - play.bet + ( play.bonus ? play.bonus : 0) , decimals: 8 } }}
                        RVN
                    </td>
                </tr>
            {{~}}
          </tbody>
        </table>
        <h6><b>Hash:</b> <a href="/faq#fair">{{=it.game.hash}}</a></h6>
    </div>

#}}

{{#def.include('./template/main_old')}}