{{##def.page_title = 'Give aways' #}}

{{##def.content:
<div class="row faq panel radius">
    <h5>Add a giveaway</h5>
    <hr>
    <div class="row contact">
        <form action="/admin-giveaway" id="contact" method="post">
            <label for="users">users:</label>
            <textarea id="users" rows="10" name="users" required></textarea>
            <label for="bits">RVN </label>
            <input type="number" id="bits" name="bits" min="1" max="10000" value="1" required=""/>
            <input type="submit" class="border-button right" value="add!"/>
            <a class="left border-button red" href="/admin">back</a>
        </form>
    </div>
</div>
#}}
{{#def.include('./template/main_old')}}