{{##def.page_title = 'The Social Ravencoin Gambling Game' #}}

{{##def.content:

    <div class="index fullpage">
            <div class="fullStars" id='stars'></div>
            <div class="fullStars" id='stars2'></div>
            <div class="fullStars" id='stars3'></div>
        <div class="section">
            <div class="grid">
                <div class="col-1-1">
                    <!-- <h1 class="title">The Social Gambling Game</h1> -->
                    <a href="/play"><img src="/img/mainImg2.png" alt="Made2Crash" class="homeImage"></a>

                </div>
    
                <div class="play-btn-col col-1-1">
                    <div class="play-btn-cont">
                        <a href="/play" class="play">
                            Play Now!
                        </a>
                    </div>
                </div>
            </div>
            <div id="scroll-down">
                <span class="arrow-down">
                <!-- css generated icon -->
                </span>
            </div>
        </div>

        <div class="section">
            <div class="features grid">
    
                <div class="feature col-3-12">
                    <div class="imgChange">
                        <img src="img/home/trophy.png" class="imgTop" alt=""/>
                        <img src="img/home/hover/trophy-2.png" class="imgHover" alt=""/>
                    </div>
                    <h4>99% Luck<br />&nbsp;1% Skill</h4>
                    <p class="text">
                        Play for fun! Or play to win! <br>
                        <a href="/guide">See strategy guide</a>
                    </p>
                </div>
                <div class="feature col-3-12">
                    <div class="imgChange">
                        <img src="img/home/chart.png" class="imgTop" alt=""/>
                        <img src="img/home/hover/chart-2.png" class="imgHover" alt=""/>
                    </div>
                    <h4>Real Time</h4>
                    <p class="text">
                        Watch your fortune rise<br > in real time!
                    </p>
                </div>
                <div class="feature col-3-12">
                    <div class="imgChange">
                        <img src="img/home/lock.png" class="imgTop" alt=""/>
                        <img src="img/home/hover/lock-2.png" class="imgHover" alt=""/>
                    </div>
                    <h4>Secure</h4>
                    <p class="text">
                        Offline storage<br>
                        <a href="faq#fair">Provably fair</a><br>
                        Razor thin <a href="faq#odds">house edge</a> (between 0 and 1%)
                    </p>
                </div>
                <div class="feature col-3-12">
                    <div class="imgChange">
                        <img src="img/home/social.png" class="imgTop" alt=""/>
                        <img src="img/home/hover/social-2.png" class="imgHover" alt=""/>
                    </div>
                    <h4>Social</h4>
                    <p class="text">
                        Play with friends<br />
                        and beat your foes
                    </p>
                </div>
    
            </div>
            <div class="footer">
                    <div class="col-1-1">
                        <p style="margin-top: 150px; text-align: center;">© 2019 Made2Crash. All Rights Reserved.
                        <br>
                        Please see our <a href="faq">FAQ</a> & review our <a href="terms">Terms of Services.</a>
                        </p>
                    </div>
                </div>
        </div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.extensions.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/vendors/scrolloverflow.min.js"></script> -->

    <script>
        let mfp = (new fullpage('.fullpage', {
            licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
            scrollingSpeed: 1000,
            onLeave: function (index, nextIndex, direction) {
                var allSlides = [].slice.call(document.body.querySelectorAll('.fullpage .section'));
                if (allSlides[index.index] && allSlides[nextIndex.index]) {
                    allSlides[index.index].style.opacity = 0;
                    allSlides[nextIndex.index].style.opacity = 1;
                }
            }
        }));
        // mfp.setAllowScrolling(false);
    </script>
#}}
{{#def.include('./template/main_new')}}

