{{##def.page_title = 'Login' #}}

{{##def.content:
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function enableSubmit() {
        $('#loginSubmit')
                .removeClass('secondary');
    }
</script>

<div class="login">
    <form action="/login" method="post">
        <div class="row">
            <div class="large-12 columns">
                <label>Username
                    <input type="text" name="username" required autocomplete="username"/>
                </label>
            </div>
        </div>
         <div class="row">
            <div class="large-12 columns">
                <label>Password
                    <input type="password" name="password" required autocomplete="current-password"/>
                </label>
            </div>
         </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Remember me
                    <input type="checkbox" name="remember">
                </label>
            </div>
        </div>
         <div class="row">
            <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
         </div>
         <div class="row">
            <div class="large-12 columns">
                <a class="small" href="/forgot-password">Forgot your password?</a>
                <input id="loginSubmit" class="button secondary right" type="submit" value="Login"/>
            </div>
        </div>

    </form>
</div>

#}}
{{#def.include('./template/main_old')}}