{{##def.page_title = 'Register' #}}

{{##def.content:
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    var submitEnabled = false;
    function enableSubmit() {
        submitEnabled = true;
        var s = document.getElementById('registerSubmit');
        s.style.display = 'block';
    }
    function enableSubmitValid() {
        var s = document.getElementById('registerSubmit');
        s.disabled = false
    }
    function disableSubmitInvalid() {
        var s = document.getElementById('registerSubmit');
        s.disabled = true
    }
    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').oninput = validatePassword;
            document.getElementById('password').oninput = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        if (password.length < 7) {
            document.getElementById('passwordValidation').innerText = "Password should be at least seven characters";
            disableSubmitInvalid();
        } else if (password.length > 200) {
            document.getElementById('passwordValidation').innerText = "Password should not be longer than 200 characters";
            disableSubmitInvalid();
        } else if (!/(#|@|!|\$|&)/g.test(password)) {
            document.getElementById('passwordValidation').innerText = "Password should have at least one of #,@,!,$ or &";
            disableSubmitInvalid();
        } else if (!/[A-Z]/g.test(password)) {
            document.getElementById('passwordValidation').innerText = "Password should have at least one uppercase character";
            disableSubmitInvalid();
        } else {
            document.getElementById("passwordValidation").innerText = '';
            enableSubmitValid()
        }
        if (password != confirm && !!confirm) {
            document.getElementById('confirmPasswordValidation').innerText = "Confirmation and password should be the same";
            disableSubmitInvalid();
        } else {
            document.getElementById('confirmPasswordValidation').innerText = '';
            enableSubmitValid();
        }
    }
</script>
        <div class="register">
            <form action="/register" method="post" onsubmit="return submitEnabled;">
                <div class="row">
                    <div class="large-7 columns input">
                        <h5>Create a new account <small><a href="login">already have one?</a></small></h5>
                        <hr>
                    </div>

                    <div class="large-7 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="username">Username</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="username" type="text" name="user[name]" value="{{?it.values}}{{!it.values.name}}{{?}}" autocomplete="username" pattern="[A-Za-z0-9_\-]{3,16}" title="Username only allowed alphanumeric, hyphen and underscore" required />
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">

                        <div class="row">
                            <div class="large-3 columns">
                                <label for="email">*Email Address</label>
                            </div>
                            <div class="large-9 columns">
                                <input type="email" id="email" value="{{?it.values}}{{!it.values.email}}{{?}}" placeholder="you@email.com" name="user[email]" autocomplete="off" required />
                                <small>* You are <b>required</b> to add your email here. We do not require email validation. We expect you know how to type your email correctly. Without a valid email address, it <b>impossible</b> to recover your account/password reset!</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="password" type="password" value="{{?it.values}}{{!it.values.password}}{{?}}" name="user[password]" autocomplete="new-password" pattern=".{7,200}" title="Password should be at least 7 characters" required/>
                                <span id="passwordValidation" class="validation-text">Pick something secure, at least 7 characters</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns"></div>
                            <div class="large-9 columns">
                                <span id="passwordValidation" class="validation-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns input">
                        <div class="row">
                            <div class="large-3 columns">
                                <label>Confirm Password</label>
                            </div>
                            <div class="large-9 columns">
                                <input id="confirmation" type="password" value="{{?it.values}}{{!it.values.confirm}}{{?}}" name="user[confirm]" autocomplete="new-password" pattern=".{7,200}" data-equal-id="password" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns"></div>
                            <div class="large-9 columns">
                                <span id="confirmPasswordValidation" class="validation-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="large-7 columns">
                        <label>
                            <input type="checkbox" name="legalconsent" value="legalconsent">
                            <span>I am 18 or older, gambling is legal in my jurisdiction and I agree with the <a href="/terms" class="validation-text">Terms of Service</a></span>
                        </label>
                    </div>
                    <div class="large-7 columns">
                        <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
                        <input id="registerSubmit" style="display: none" class="border-button blue" type="submit" value="Register"/>
                    </div>
                </div>
            </form>
        </div>
#}}
{{#def.include('./template/main_old')}}