{{##def.page_title = 'Game Play' #}}

{{##def.content:
    <div id="game-container" class="hide">
        
    </div>

    <div id="loader-wrapper">
            <img src="img/preloader.gif" alt="Made2Crash" id="loader">

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!--RequireJs-->
    <script data-main="/scripts/main" src="{{? it.buildConfig }}/scripts/{{=it.buildConfig['main-new.js']}}{{??}}/node_modules/requirejs/require.js{{?}}"></script>

    <script>
        document.onload = 
            setTimeout(function(){
                document.body.classList = "loaded";
            }, 3000);

        document.onload = 
            setTimeout(function(){
                document.getElementById("game-container").classList = "show";
            }, 3485);

        window.onload = 
        setTimeout(function(){
            navButton = document.getElementById("clickMe");
            navButton.addEventListener("click", toggleNav);

            function toggleNav() {
                var navLinks = document.getElementById("navLinks");
                if (navLinks.style.display === "block") {
                    navLinks.style.display = "none";
                } else {
                    navLinks.style.display = "block";
                }
            }
            }, 3500);    

    </script>
    <!-- Detect the viewport size with css and javascript hack -->
    <div id="handheld-detection"></div>
#}}
{{#def.include('./template/game_new')}}

