{{##def.page_title = 'Terms of Services' #}}

{{##def.content:
<div class="row faq panel radius">

    <h5>Terms of Services</h5>
    <hr>
    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a href="#terms">Terms</a></li>
                <li><a href="#license">Use License</a></li>
                <li><a href="#disclaimer">Discliamer</a></li>
                <li><a href="#limitations">Limitations</a></li>
                <li><a href="#accuracy">Accuracy Of Materials</a></li>
                <li><a href="#links">Links</a></li>
                <li><a href="#modifications">Modifications</a></li>
                <li><a href="#law">Governing Law</a></li>
                <li><a href="#warranties">Your Representations And Warranties</a></li>
                <li><a href="#authority">Authority</a></li>
                <li><a href="#jurisdictions">Prohibited Jurisdictions</a></li>
                <li><a href="#breach">Breach</a></li>
                <li><a href="#severability">Severability</a></li>
                <li><a href="#waiver">Waiver</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9">
        <dl>
            <dd><b><a name="terms"></a>Terms</b>
                <p>
                        By accessing the website at https://www.made2crash.com (referred to here as “Made2Crash”), you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
                </p>
            </dd>

            <dd>
                <b><a name="license"></a>Use License</b>
                <p>
                        Subject to the terms and conditions herein, Made2Crash grants the user non-exclusive, personal, non-transferable right to use the site and temporarily download one copy of the materials (information or software) on Made2Crash’s website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license must:be 18 years old of age or olderaccess the site only from jurisdictions from which the website and online gambling is legalnot modify or copy the materials;not use the materials for any commercial purpose, or for any public display (commercial or non-commercial);not attempt to decompile or reverse engineer any software contained on Made2Crash» website;not remove any copyright or other proprietary notations from the materials; ornot transfer the materials to another person or “mirror” the materials on any other server.
                </p>
                <p>
                        This license shall automatically terminate if you violate any of these restrictions and may be terminated by Made2Crash at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
                </p>
            </dd>
            <dd>
                <b><a name="disclaimer"></a>Disclaimer</b>
                <p>
                        The materials on Made2Crash’s website are provided on an ‘as is’ basis. Made2Crash makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.Further, Made2Crash does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
                </p>
            </dd>
            <dd>
                <b><a name="limitations"></a>Limitations</b>
                <p>
                        In no event shall Made2Crash or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Made2Crash, even if Made2Crash or a Made2Crash authorized representative has bee notified orally or in writing of the possibility of such damage.
                </p>
            </dd>
            <dd>
                <b><a name="accuracy"></a>Accuracy Of Materials</b>
                <p>
                        The materials appearing on Made2Crash website could include technical, typographical, or photographic errors. Made2Crash does not warrant that any of the materials on its website are accurate, complete or current. Made2Crash may make changes to the materials contained on its website at any time without notice. However Made2Crash does not make any commitment to update the materials.
                </p>
            </dd>
            <dd>
                <b><a name="links"></a>Links</b>
                <p>
                        Made2Crash has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Made2Crash of the site. Use of any such linked website is at the user’s own risk.
                </p>
            </dd>
            <dd>
                <b><a name="modifications"></a>Modifications</b>
                <p>
                    Made2Crash may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
                </p>
            </dd>
            <dd>
                <b><a name="law"></a>Governing Law</b>
                <p>
                        These terms and conditions are governed by and construed in accordance with the laws of Belize and you irrevocably submit to the exclusive jurisdiction of the courts of Belize.
                </p>
            </dd>
            <dd>
                <b><a name="warranties"></a> Your Representations And Warranties</b>
                <p>
                        Prior to your use of Made2Crash and on an ongoing basis you represent, warrant, covenant and agree that: there is a significant risk of losing RavenCoin when using Made2Crash and that Made2Crash has no responsibility to you for any such loss; your use of the Made2Crash is at your sole option, discretion and risk; you are solely responsible for any applicable taxes which may be payable on RavenCoins awarded to you through your using the site; the telecommunications networks and Internet access services required for you to access and use the Made2Crash are entirely beyond the control of Made2Crash and Made2Crash shall have no liability whatsoever for any outages, slowness, latency, lag, capacity constraints or other deficiencies affecting the game; and you are aged 18 or over and that you are not currently self-excluded from any gambling site or gambling premises and that you will inform us immediately if you enter into a self-exclusion agreement with any gambling provider.
                </p>
            </dd>
            <dd>
                <b><a name="authority"></a>Authority</b>
                <p>
                        You agree to the game rules described on Made2Crash’s website. Made2Crash retains authority over the issuing, maintenance, and closing of the website. The decision of Made2Crash’s management, as regards any use of Made2Crash, or dispute resolution, is final and shall not be open to review or appeal.
                </p>
            </dd>
            <dd>
                <b><a name="jurisdictions"></a>Prohibited Jurisdictions</b>
                <p>
                        Persons located in or residents of the United Kingdom, the United States, the United States Territories, the Netherlands, Curaçao as well as any country in which online gambling is not legal are not permitted make use of Made2Crash. For the avoidance of doubt, the restriction applies equally to residents and citizens of other nations while located in a Prohibited Jurisdiction(s).
                </p>
            </dd>
            <dd>
                <b><a name="breach"></a>Breach</b>
                <p>
                        Without prejudice to any other rights, if a User breaches in whole or in part any provision contained herein, Made2Crash reserves the right to take any such action as it sees fit, including terminating this Agreement or any other agreement in place with the User and/or taking legal action against such User.
                </p>
            </dd>
            <dd>
                <b><a name="severability"></a>Severability</b>
                <p>
                        If a provision of this Agreement is or becomes illegal, invalid or unenforceable in any jurisdiction, that shall not affect the validity or enforceability in that jurisdiction of any other provision hereof or the validity or enforceability in other jurisdictions of that or any other provision hereof.
                </p>
            </dd>
            <dd>
                <b><a name="waiver"></a>Waiver</b>
                <p>
                        No waiver by Made2Crash of any breach of any provision of this Agreement (including the failure of Made2Crash to require strict and literal performance of or compliance with any provision of this Agreement) shall in any way be construed as a waiver of any subsequent breach of such provision or of any breach of any other provision of this Agreement. Nothing in this Agreement shall create or confer any rights or other benefits in favour of any third parties not party to this Agreement. Nothing in this Agreement shall create or be deemed to create a partnership, agency, trust arrangement, fiduciary relationship or joint venture between you and us. This Agreement constitutes the entire understanding and agreement between you and Made2Crash and supersedes any prior agreement, understanding, or arrangement between you and us.
                </p>
            </dd>
        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main_old')}}
