{{##def.page_title = 'User Stats' #}}

{{##def.content:
    <style>
        .row {
            max-width: none !important;
        }
        .panel {
            margin-top: 0 !important;
        } 

        .positiveBal {
            color: #8BC34A !important;
            font-weight: bold;
        }

        .negativeBal {
            color: #FF5722 !important;
            font-weight: bold;
        }

    </style>

    <div class="content row panel radius">
        <h4>Player:
            {{?it.user && it.stats.username == it.user.username}}
                <strong class="playerName">
                    <a href="/account">{{=it.stats.username }}</a>
                </strong>
            {{??}}
               <strong> <b>{{=it.stats.username}}</b></strong>
            {{?}}
        </h4>
        <div id="statistics" class="row">
            <div class="columns data large-3">
                <p><b>Games Played </b></p>
                <h5>{{=it.stats.games_played}}</h5>
            </div>
            <div class="rank columns data large-3">
                <a href="/leaderboard">
                    <p><b>Rank </b></p>
                    <h5>{{=it.stats.rank}}</h5>
                </a>
            </div>
            <div class="columns data large-3">
                <p>
                    <b>Gross Profit </b>
                        <strong><a href="/faq#gross-profit">?</a></strong>
                </p>
                <h5 class="grossProfit">{{#def.format: { n: it.stats.gross_profit, decimals: 8} }} RVN</h5>
            </div>
            <div class="columns data large-3">
                <p>
                    <b>Net Profit</b>
                </p>
                <h5 id="netProfit">{{#def.format: { n: it.stats.net_profit, decimals: 8} }} RVN</h5>
            </div>
        </div>
        <hr>
        {{? it.showing_last}}
            <h4>Showing game {{= it.games_from}} to {{= it.games_to}}</h4>
        {{??}}
            <h4>Showing last {{= it.games_to - it.games_from + 1}} games</h4>
        {{?}}


        <div id="chartdiv" style="width: 100%; height: 400px;"></div>


        {{? it.previous_page }}
        <a href="?p=1">First</a>
        <a href="{{= it.previous_page }}">Previous</a>
        {{?}}

        {{? it.next_page }}
        <a href="{{= it.next_page }}">Next</a>
        <a href="{{= it.stats.username }}">Last</a>
        {{?}}



        <script>
            netBal = document.getElementById("netProfit");
            netText = netBal.innerText;
        
            if (netText.includes("-")) {
                netBal.classList = "negativeBal"
            } else {
                netBal.classList = "positiveBal"
            }
        </script>

        <script src="/vendor/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="/vendor/amcharts/serial.js" type="text/javascript"></script>
        <script src="/vendor/amcharts/custom.js" type="text/javascript"></script>
        <script>
            CustomChart({{= it.games_from}}, {{= it.net_profit_offset}}, {{=JSON.stringify(it.plays)}});
        </script>

    </div>
#}}
{{#def.include('./template/main_old')}}