{{##def.page_title = 'Withdraw Request' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="container">

    <div class="wrapper">
            <div class="leftBar">
                <!-- <img src="#" alt="Made2Crash"> -->
                <div class="userName">{{=it.user.username}}</div>
                <ul>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/security">Security</a></li>
                    <li><a href="/deposit">Deposit</a></li>
                    <li class="active"><a href="#">Withdraw</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a onclick="logout();">Logout</a></li>
                </ul>
            </div>
        <div class="mainProfile">
            <h4>Request A Withdrawal</h4>
            <p class="small">
                **The minimum amount for a withdrawal is {{= it.miningFeeBits + 1 }} RVN. {{= it.miningFeeBits }} RVN will be deducted from your withdrawal,
                as we use {{= it.miningFeeBits }} RVN for mining fee. As required, we will as well chip in with our money to
                help speed up confirmation time.
            </p>

            <p>
                <strong>Note:</strong> Your withdrawal will be sent from the hot wallet, do not withdraw to any site
                that uses the sending address, or returns to sender, because any returns will probably be credited to a different player.
            </p>
            <form action="/withdraw-request" method="post">
                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <label for="amount">RVN amount</label>
                <input type="number" id="amount" name="amount" placeholder="{{= it.miningFeeBits + 1 }}" min="{{= it.miningFeeBits + 1 }}" step=".00000001" required/>
                <label for="destination">Destination Address</label>
                <input type="text" id="destination" name="destination" required/>
                <label for="password">Your password</label>
                <input type="password" id="password" name="password" autocomplete="off"/>
                {{?it.user.mfa_secret}}
                    <label for="otp">2FA Code</label>
                    <input type="text" id="otp" name="otp" autocomplete="off" pattern="[0-9]{6}" required />
                {{?}}
                <a href="/withdraw" class="border-button ">Back</a>
                <input class="border-button right blue" type="submit"/>
                <input type="hidden" name="withdrawal_id" value="{{= it.id}}" />
                <input type="hidden" name="username" value="{{= it.user.username}}" />
            </form>
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main_old')}}