@import url("profile.css");
@import url("../lib/foundation/css/foundation.css");
@import url("../lib/foundation-icons/foundation-icons.css");
@import url("../lib/font-awesome/css/all.css");
@import url("header.css");
@import url("fonts.css");

@font-face {
    font-family: 'EnterTheGrid';
    src: url("../fonts/Enter-The-Grid.ttf");
}

@font-face {
    font-family: rbn;
    src: url(fonts/RBN.otf);
}


* {
    box-sizing: border-box;
}

a {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

body {
    overflow-x: hidden;
    background-color: #181A1E;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}

/* Shared Stuff
   ========================================================================== */
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cursive !important;
}


h4 {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
}

strong * {
    color: #7cba00;
}

strong {
    color: #7cba00;
}

table {
    width: 100%;
    text-align: center;
}

/* .row {
    width: 100% !important;
} */

.content {
    margin-top: 50px;
    /* padding-left: 10px; */
}

.data p {
    margin-bottom: 5px;
}

.data b,
.data h5 {
    color: #a4b2bf;
    font-size: 15px;
}

.data {
    background: #446272;
    box-shadow: 1px 1px 1px #888888;
    padding-top: 15px;
    padding-right: 10px;
}

data:hover {
    background: white;
}


/* Public User Profile */

.playerName {
    text-transform: uppercase;
}

.grossProfit {
    color: #dd994d !important;
    font-weight: bold;
}





.panel {
    background-color: #2D3A41 !important;
    border: 1px solid #ec6b1c !important;
    margin-top: 2%;
}

.panel h5 {
    text-align: center;
    text-transform: uppercase;
    /* width: 104%; */
}

.panel a {
    color: #F05239;
}

.panel a:hover {
    color: white;
}

table.user-table strong a {
    color: #496d82;
}

table.user-table strong a:hover {
    color: #fff;
}

.success-wrap {
    text-align: center;
    line-height: 1.2rem;
    width: 100%;
    clear: both;
}

.success-wrap a {
    color: #74deeb;
    font-weight: 600;
    text-decoration: underline;
}


/* Style for everything that is a button or wants to look like one */
.border-button {
    cursor: pointer;
    background: #4491af;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    padding: 15px;
    border: 2px solid #a4b2bf !important;
    margin-bottom: 5px;
    color: #fff !important;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-button:hover {
    color: #2d3a41 !important;
    text-shadow: none;
    background-color: white;
}

.input small {
    letter-spacing: 1px;
    font-size: 11px;
    color: white;
}

.input {
    margin-bottom: 25px;
}

.small {
    font-size: 12px;
}

.strong {
    font-weight: bold;
}

/* Different Colors for the buttons */
.red {
    border: 3px solid #ba3c12;
}

.green {
    border: 3px solid #7cba00;
}


/* Tables Styles for Calculator */

table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(even),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(even),
#calculator table tr:nth-of-type(even) {
    background: #b8c8d6;
}

table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(odd),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(odd),
#calculator table tr:nth-of-type(odd) {
    background: hsla(202, 35%, 58%, 0.73);
}



/* Index Styles
   ========================================================================== */
.i-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.sub-title {
    margin: 0 0 25px;
    font-size: 45px;
    line-height: 44px;
    font-weight: 700;
    font-family: rbn;
}

.play {
    font-size: 25px;
    margin-top: -10px;
}

.features {
    margin-top: 100px;
}

.feature img {
    height: 100px;
    width: 100px;
}

.faucet {
    margin-top: 50px;
    color: #7cba00;
    letter-spacing: 2px;
}

/* Menus' Styles
   ========================================================================== */
.menu li {
    cursor: pointer;
}

.menu li:hover {
    color: #ff0000;
}

.menu .active {
    color: #ff0000;
}

nav .top-bar-title {
    color: #000000;
}

.logo-text {
    font-size: 60px;
    /* color: #000000; */
    padding-top: 30px;
    padding-left: 30px;
}

/* FAQ styles
   ========================================================================== */

.faq-nav li a:not(.button) {
    color: #7f94a2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    background: rgba(42, 92, 123, 0.33);
    color: white !important;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.side-nav li:hover a {
    margin-left: 15px;
}

.faq strong {
    color: #EC6B1C;
}

div.row.faq p {
    color: #7c92a0;
}

ul.menu li a {
    color: #6e9eb9;
}

ul.menu li a:hover {
    color: #fff;
}

.menu .active {
    color: #6e9eb9;
    border-bottom: 1px solid #1d93ea;
}

.menu .active,
.menu li:hover {
    color: white;
}

/* Stats Page Styles */
.stats td {
    text-align: left;
    border-bottom: 1px solid #89b7dd;
    color: #37505d;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
}



/* Contact Styles
   ========================================================================== */
#contact {
    padding-bottom: 30px;
    margin: 10px;
}

/* Top Players Styles
   ========================================================================== */
.leaders td {
    text-align: center;
    border-bottom: 1px solid #89b7dd;
    color: #37505d;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
}


table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(even),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(even) {
    background: #b8c8d6;
}


table.leaders [href$="faq#gross-profit"] {
    color: white !important;
}

table.leaders tr.alt,
table tr.even,
table.leaders tr:nth-of-type(odd),
table.stats tr.alt,
table tr.even,
table.stats tr:nth-of-type(odd) {
    background: hsla(202, 35%, 58%, 0.73);
}

table.stats small {
    font-size: 69%;
    color: #1e7b22;
    font-weight: bold !important;
}

/* table.stats {
    width: 104%;
} */

table.leaders a {
    color: #2D3A41;
}

table.leaders a:hover {
    color: #fdfeff;
}

table {
    border: 0;
}

.fa-sort-down:before,
.fa-sort-desc:before {
    color: #8BC34A;
}

.fa-sort-up:before,
.fa-sort-asc:before {
    color: #b7f174;
}



/* ==========================================================================
   leaderboard top 3
   ========================================================================== */

.leaders tbody tr:nth-of-type(1) td {
    background-color: #daa84a;
}

.leaders thead td {
    color: white;
}

.leaders tbody tr:nth-of-type(1) td:nth-of-type(2) a:before {
    content: "test";
    display: inline-block;
    font-size: 18px;
    color: #242528;
    content: "";
    background: url(../../img/icons/top1.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

.leaders tbody tr:nth-of-type(2) td {
    background-color: #cfd4db;
}


.leaders tbody tr:nth-of-type(2) td:nth-of-type(2) a:before {
    font-size: 18px;
    content: "";
    background: url(../../img/icons/top2.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

.leaders tbody tr:nth-of-type(3) td {
    background-color: #cf8849;
}

.leaders tbody tr:nth-of-type(3) td:nth-of-type(2) a:before {
    display: inline-block;
    font-size: 18px;
    content: "";
    background: url(../../img/icons/top3.png) no-repeat;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-size: contain !important;
    margin-right: 3px;
}

/* Tables Styles
   ========================================================================== */

table tfoot,
table thead {
    background: #446272;
}

table tfoot tr td,
table tfoot tr th,
table thead tr td,
table thead tr th {
    color: #c2d1de;
}



.j-table {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(243, 150, 47, 1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0, 0, 0, .1);
    box-shadow: 0px 9px 0px rgb(255, 81, 20), 0px 9px 25px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 320px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.j-table:active {
    -webkit-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 6px;
}

.j-table:hover {
    color: #FFFFFF;
}

.j-table-sub {
    text-align: center;
    margin-top: -35px;
}

.small-t {
    font-size: 2.2em;
    padding: 13px;
}

.tables-second-row {
    margin-top: 10px;
}

/* User's Settings
   ========================================================================== */
.settings {
    height: 300px;
}

.settings a {
    color: #6e9eb9;
}

.settings .menu {
    width: 66px;
    margin-left: 0;
}

div#statistics.row .column,
div#statistics.row .columns {
    border-left: 1px solid #1d577b;
}

div#statistics.row strong a {
    color: white;
}

.rank {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out
}

div#statistics.row .column,
div#statistics.row .columns {
    border-left: 1px solid #6E9EB9;
}

.rank:hover {
    background-color: #6e9eb9;
}

.rank:hover b,
.rank:hover h5 {
    color: #2d3a41;
}

strong * {
    color: #81a0b3;
}


/* Account */
.account {
    margin-top: 30px;
}

#statistics {
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    padding-top: 15px;
}

.bits {
    margin: 0px;
}

/* errors pages; 401, 500, 404
   ========================================================================== */
.not-found {
    margin-top: 250px;
}

/* User's public profile
   ========================================================================== */
.rank:hover {
    background-color: rgba(239, 71, 3, 0.77);
}

.user-table td {
    text-align: center;
}

.lose td {
    color: #ba3c12;
}

.pagination {
    width: 139px;
}

.created {
    width: 12%;
}

.game {
    width: 23%;
}

.greeny {
    color: #7cba00;
}

.created small {
    color: #5A5A5A;
}

.stats td {
    text-align: center;
}

/* Forms
  ========================================================================== */
.nav-top-bar .login a,
#top-bar .user-login .login a,
.register a {
    color: #37505d;
}

.nav-top-bar .login a:hover,
#top-bar .user-login .login a:hover {
    color: white;
    opacity: .7;
}

.nav-top-bar .register a:hover,
#top-bar .user-login .register a:hover {
    color: white;
    opacity: .7;
}

h5 {
    font-size: 1.125rem;
    color: #F05239;
    font-family: cursive;
}


.register [class*=column]+[class*=column]:last-child {
    float: inherit;
    text-align: center;
    display: table;
}

.register label {
    color: #98cce8;
    vertical-align: middle;
    padding-top: 8px;
    text-align: left;
}

.login label {
    color: #98cce8;
    vertical-align: middle;
    padding-top: 8px;
    text-align: left;
}

.register label:after {
    content: ":";
    display: inline-block;
}

.register h5 {
    padding-top: 35px;
}

.register input,
.login input {
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #6E9EB9;
    background-color: #A4B2BF;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.login .large-12 {
    width: 100%;
    margin-top: 18px;
}

.g-recaptcha {
    display: inline-block;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:700px) {
    .g-recaptcha {
        display: inline-block;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#registerSubmit,
#loginSubmit,
form[action*="/sent-recover"] #forgotSubmit {
    display: block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: #2D3A41;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.button.secondary,
button.secondary {
    background-color: #9E9E9E !important;
    border-color: #b9b9b9;
    color: white !important;
    cursor: not-allowed;
}

#registerSubmit:hover,
#loginSubmit:hover {
    color: white !important;
    background: #446272;
}

#loginSubmit {
    border: 1px solid white;
    border-radius: 5px;
}

.login form {
    padding-top: 36px;
}

.giveaway-form {
    width: 323px;
    margin-left: 10%;
}

/* FOUNDATION MEDIA QUERIES */
@media only screen and (max-width: 40.063em) {
    .content {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #F3DF6C;
        color: #7A7A7A;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Login
  ========================================================================== */

#loginSubmit {
    pointer-events: auto !important;
    /** Allow clicks even if it is disabled **/
}

@media only screen {}

/* Define mobile styles */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) {}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) {}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xxlarge screens */

/* New Styles */

/* Validation Styles */
.validation-text {
    color: #FF9800 !important;
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

/* ==========================================================================
   Discord support box
   ========================================================================== */

.supportInfo {
    background-color: #7289DA;
    color: #fff;
    border: 2px solid #99AAB5;
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

.supportInfo .redText {
    color: #204a67;
}

.supportInfo p {
    color: white;
    padding-top: 14px;
    font-weight: bold;
}

.supportInfo:before {
    content: "";
    background: url(/img/support.png) no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    background-size: contain !important;
    margin-top: 5px;
}

/* ==========================================================================
   balance 
   ========================================================================== */

.nav-top-bar .balance-bits span:first-child {
    color: #384183;
    font-family: EnterTheGrid;
}

.nav-top-bar .balance-bits {
    color: #FFC107;
    font-family: EnterTheGrid;
}

.nav-top-bar .balance-bits span:first-child:before {
    content: "";
    background: url(/img/bal.png) no-repeat;
    top: 108px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
}


/* ==========================================================================
   password recovery
   ========================================================================== */

form[action*="/sent-recover"] {
    display: block;
    margin: auto auto;
    margin-top: 89px;
}

form[action*="/sent-recover"] .g-recaptcha {
    width: 200px;
    display: block;
    background-color: #eee;
    margin-right: auto;
    margin-left: 279px;
}

form[action*="/sent-recover"] .row {
    max-width: 62.5rem;
    margin: 0 auto;
}

form[action*="/sent-recover"] #forgotSubmit:hover {
    color: white !important;
    background: #6E9EB9;
}

form[action*="/sent-recover"]:before {
    content: "Reset your password";
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #ec6b1c;
    border-width: 0 0 1px;
    text-align: center;
    margin: auto auto;
    display: flex;
    width: 600px;
    position: relative;
    top: -44px;
    padding-bottom: 10px;
}


/* Styles for Stats Page */

@media only screen and (min-width: 64.063em) {
    .large-6 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.large-6 h5 {
    border-bottom: 1px solid #ec6b1c;
    padding-bottom: 5px;
    font-family: cursive;
}

/* ==========================================================================
   mobile
   ========================================================================== */

@media only all and (max-width:40em) {

    div.title a img {
        width: 108px;
        padding-top: 13px;
    }


    .nav-top-bar .user-login {
        position: relative;
        top: -37px;
        left: 26px;
    }
}


/* ==========================================================================
    calculator  
    ========================================================================== */

input[type=number] {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    background-color: #8195a0;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    width: 100%;
}

input[type=number]:focus {
    background-color: #8195a0;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    width: fit-content;
}

input[type=number]:hover {
    background: #303030;
    border-radius: 10px;
}