/* Top bar
   ========================================================================== */

@font-face {
    font-family: 'EnterTheGrid';
    src: url("../fonts/Enter-The-Grid.ttf");
}

@media screen and (max-width: 767px) {
    header {
        height: 5rem;
    }
}

#top-bar {
    font-family: EnterTheGrid;
    background-color: #F79534;
    border-bottom: 2px solid #EC6B1C;
    position: static;
    /* z-index: 1; */
    top: inherit;
    right: inherit;
    left: inherit;
    height: 45px;
    /* padding: 10px; */
    font-size: 20px;
}

#top-bar .title h1 {
    margin: 0;
    color: #354081;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px;
    font-family: "Courier New";
}

#top-bar .title h1:hover {
    color: #f0f1f2;
}

#top-bar,
.nav-top-bar {
    position: relative;
    z-index: 444;
}


/* Top Bar Mobile CSS */

.navMobile {
    display: none;
}


@media (max-width:1055px) {
    #top-bar {
        display: none;
    }

    .navMobile {
        display: block;
    }

    .navMobile {
        font-family: EnterTheGrid;
        overflow: hidden;
        background-color: #333;
        position: relative;
        z-index: 99999999;
    }

    #topMobile {
        background-color: #F79534;
        border-bottom: 2px solid #F05239;
        position: static;
        top: inherit;
        right: inherit;
        left: inherit;
        height: 45px;
        font-size: 20px;
    }

    .navMobile #navLinks {
        display: none;
    }

    .navMobile a.icon {
        background: #F05239;
        padding: 14px 16px;
        color: white;
        height: 43px;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid white;
    }

    .navMobile #navLinks a {
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }

    .navMobile #navLinks a:hover {
        background-color: #f05239;
        color: #ffffff;
    }

    .navActive {
        background-color: black;
        color: white;
        opacity: .7;
    }

    .navMobile .balance-bits {
        background-color: none;
        margin-top: .6rem;
        margin-right: 4rem;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navMobile .balance-bits span:first-child {
        color: #384183;
    }

    .navMobile .balance-bits span {
        color: #384183;
    }

    .navMobile .balance-bits span:first-child:before {
        content: "";
        background: url(/img/bal.png) no-repeat;
        top: 108px;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain !important;
    }

    .navMobile #navLinks .balanceBits {
        display: none;
    }

    /* Nav Icons */
    .iconNav {
        padding-right: 5px;
        padding-left: 0;
        margin-right: 5px;
        color: #f79534;
    }

    .navMobile #navLinks a:hover .iconNav {
        color: white;
    }


    /* Balance When the screen is smaller */
    @media (max-width:490px) {
        .navMobile .balance-bits {
            display: none;
        }

        .navMobile #navLinks .balanceBits {
            background-color: #7396a9;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            font-weight: bolder;
        }

        .navMobile #navLinks .balanceBits span:first-child {
            color: #384183;
        }

        .navMobile #navLinks .balanceBits span {
            color: #FFC107;
        }

        .navMobile #navLinks .balanceBits span:first-child:before {
            content: "";
            background: url(/img/bal.png) no-repeat;
            top: 108px;
            width: 28px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
            background-size: contain !important;
        }
    }
}

@media (min-width:994px) {
    #top-bar .user-login {
        float: right;
        line-height: 40px;
    }

    #top-bar .menu,
    #top-bar .menu-mobile {
        float: left !important;
        margin-right: 1rem !important;
    }

    #top-bar .nav-item {
        display: inline-block;
        padding-right: 0 !important;
    }

    #top-bar .user-login .balance-bits {
        display: inline-block;
        /* float: right; */
        padding-right: 0.5rem;
    }

    #top-bar .user-login .username {
        display: inline-block;
        padding-right: 1rem;
    }


}



/* ==========================================================================
   balance 
   ========================================================================== */

#top-bar .user-login .balance-bits span:first-child {
    color: #384183;
}

#top-bar .user-login .balance-bits span {
    line-height: 40px;
    color: #354081;
}

#top-bar .user-login .balance-bits span:first-child:before {
    content: "";
    background: url(/img/bal.png) no-repeat;
    top: 108px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain !important;
}


#top-bar .user-login .username a {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#top-bar .user-login .username a:hover {
    color: #F0F1F2 !important;
}

#top-bar .user-login .register {
    display: inline-block;
    padding-right: 1rem;
}

#top-bar .user-login .register a {
    color: #37505d;
}

#top-bar .user-login .login {
    display: inline-block;
    padding-right: 2rem;
}

#top-bar .user-login .login a {
    line-height: 2rem;
    color: #37505d;
}


#top-bar .nav-list {
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.nav-list a:hover {
    color: #F0F1F2 !important;
}

#top-bar .nav-item {
    display: inline-block;
    padding-right: 1rem;
}


/* ==========================================================================
   homepage buttons 
   ========================================================================== */


   #top-bar .nav-item a {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid white;
    vertical-align: middle;
    background: transparent;
    padding: 10px;
    color: #354081;
    letter-spacing: 1px;
}

#top-bar .nav-item a:hover {
    background: #EC6B1C;
    color: #446272;
}


@media screen and (max-width: 767px) {
    #top-bar .menu {
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        text-align: center;
        margin-right: 0;
    }
    #topMobile {
        background-color: #F79534;
        border-bottom: 2px solid #F05239;
        position: static;
        top: inherit;
        right: inherit;
        left: inherit;
        height: 45px;
        font-size: 20px;
    }

    .navMobile #navLinks {
        display: none;
    }

    .navMobile a.icon {
        background: #F05239;
        padding: 14px 16px;
        color: white;
        height: 43px;
        text-decoration: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid white;
    }
    #top-bar .user-login .login {
        padding-right: 0.5rem;
    }

    #top-bar .user-login .register {
        padding-right: 0.5rem;
    }

    #top-bar .title h1 {
        padding-left: 0.5rem;
    }

    .page-content {
        margin-top: 2rem;
    }
}


/* ==========================================================================
   status messages
   ========================================================================== */

.success, .warning {
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: auto auto;
    display: block;
    position: relative;
    top: 18px;
}

.warning {
    background-color: #FF5722;
    color: #f5f5f5;
    border: 1px solid #a53c1b;
}

.success {
    background-color: #8BC34A;
    color: #2d3941;
    border: 1px solid #598a20;
}

.validation-text {
    color: #FF9800;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

.register {
    padding-right: 20px;
    color: #37505d;
}
