
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: .6em;
}

.leftBar {
    background-color: #292D35;
    color: white;
    border: 2px solid #a1a1a1;
    padding: 20px 0 0 0;
    border-radius: 5px;
}

.leftBar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.leftBar img {
    margin: 0 auto;
    width: 75%;
    height: 75%;
    text-align: center;
  }

.leftBar .userName {
    text-align: center;
    margin-top: 20px;
    color: #f5f5f5;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}


.leftBar ul li {
    border-bottom: 1px solid #f0f4f7;    
}

.leftBar ul li:last-child {
    border-bottom: none;
}

.leftBar ul li a {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: .9em;
    display: block;
}

.leftBar ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.leftBar ul li a:hover {
    background-color: #181A1E;
    color: white;
}

.leftBar ul li.active {
    color: #FDDC18;
    background-color: #696969;
    border-left: 2px solid #FDDC18;
    border-bottom: none;
    margin-left: -2px;
}


/* Main Profile Page */

.mainProfile {
    background-color: #292D35;
    color: #fff;
    border: 2px solid #a1a1a1;
    padding: 1em;
    border-radius: 5px;
    /* text-align: center; */
    min-height: 460px;
}

.notes {
    color: #fff;
    text-align: left;
    padding: .6em;
    line-height: 1.6;
    font-weight: 400;
    font-size: 17px;
}



input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* RavenCoin Address Input Style */

.ravencoin-address {
    position: relative;
    text-align: center;
}

.ravencoin-address .copy-icon {
    position: absolute;
    right: .8rem;
    cursor: pointer;
    top: 2rem;
}

/* Styles for Smaller Screen Sizes */

@media(max-width:700px) {
    .mainProfile {
        margin-top: 30px;
    }
}


/* Styles for Larger Screen Sizes */

@media(min-width:701px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 2em;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 30px;
    }

    .wrapper > .mainProfile {
        padding: 2em;
    }

    .leftBar {
        text-align: left;
        max-height: 365px;
    }

    .mainProfile {
        /* min-width: 90%; */
        color: #fff;
    }
}