<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
        <!--header start-->
        <header class="header fixed-top clearfix">
                <!--logo start-->
                <div class="brand">
    
                    <a href="/" class="logo">
                            Made2Crash
                    </a>
                    <div class="sidebar-toggle-box">
                        <div class="fa fa-bars"></div>
                    </div>
                </div>
                <!--logo end-->
    
                <div class="nav notify-row" id="top_menu">
    
                </div>
                {{?it.user}}
                <div class="top-nav clearfix">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                        <li>
                            <input type="text" class="form-control search" placeholder=" Search">
                        </li>
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="" src="/admin/images/user.png">
                                <span class="username">{{=it.user.username}}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <li><a href="/account"><i class=" fa fa-suitcase"></i>Profile</a></li>
                                <!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li> -->
                                <li style="cursor:pointer"><a onclick="logout();"><i class="fa fa-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
    
                    </ul>
                    <!--search & user info end-->
                </div>
                {{?}}
            </header>
            <!--header end-->