<head>
    <title>{{# def.page_title || 'Social Ravencoin Gambling' }} -- Made2crash.com</title>
    <link rel="shortcut icon" href="/img/favicon-96x96.png" type="image/x-icon">
    <link rel="icon" href="/img/favicon-96x96.png" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" href="{{? it.buildConfig }} /admin/css/{{=it.buildConfig['app-admin.css']}} {{??}} /admin/css/app.css {{?}}" />
    <!-- font CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{? it.buildConfig }}/admin/js/{{=it.buildConfig['main-admin.js']}}{{?}}"></script>

</head>