{{##def.format:param:{{=(param.n/1e8).toFixed(param.decimals).toString()}}#}}

<!DOCTYPE html>
<html>
{{#def.include('admin_head')}}

<body>

    <section id="container">
        {{#def.include('admin_header')}}

        {{? it.warning }}
        <div class="warning">{{!it.warning}}</div>
        {{?? it.success}}
        <div class="success">{{!it.success}}</div>
        {{??it.user }}

        {{?it.user.error}}

        <div class="warning">
            {{!it.user.error}}
        </div>
        <!-- Advice for new users joining the game -->
        {{??it.user.advice == 'new'}}
        <!-- <div class="success">
                Welcome to made2crash.com, to start you can just watch the current games... have fun :D
            </div> -->
        {{??it.user.advice == 'received'}}
        {{?? it.user.advice}}
        <div class="success">
            {{!it.user.advice}}
        </div>
        {{??it.user && it.user.balance_satoshis < 1e3 }} {{?it.user.eligible == true}} {{?}} {{?}} {{?}} <div
            class="page-content">
            {{#def.content || ""}}
    </section>    
    
</body>

</html>