<header>
    <nav id="top-bar">
        <div id="myLinks" class="user-login">
            {{?it.user}}
            <div class="menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/leaderboard">Leaderboard</a></li>
                    <li class="nav-item"><a href="/stats">Stats</a></li>
                    <li class="nav-item"><a href="/faq">FAQ</a></li>
                    <li class="nav-item"><a href="/play">Play</a></li>
                    <li class="nav-item"><a href="/user/{{=it.user.username}}">Profile</a></li>
                </ul>
            </div>
            <div class="balance-bits">
                <span>RVN: </span>
                <span class="balance">{{#def.format:{n: it.user.balance_satoshis, decimals:8} }}</span>
                <div class="username">
                    <a href="/account">{{=it.user.username}}</a>
                </div>
            </div>

            {{??}}
            <div class="menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/play">Play</a></li>
                    <li class="nav-item"><a href="/leaderboard">Leaderboard</a></li>
                    <li class="nav-item"><a href="/stats">Stats</a></li>
                    <li class="nav-item"><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="register">
                <a href="/register">Register</a>
            </div>
            <div class="login">
                <a href="/login">Log in</a>
            </div>
            {{?}}
        </div>
        <div class="title">
            <a href="/">
                <img src="/img/mainLogo.png">
            </a>
        </div>
    </nav>

    <div class="navMobile">
        {{?it.user}}
        <div id="topMobile">
            <a href="/">
                <img src="/img/mainLogo.png">
            </a>
        </div>
        <div id="navLinks">
            <div class="balanceBits">
                <span>RVN: </span>
                <span class="balance">{{#def.format:{n: it.user.balance_satoshis, decimals:8} }}</span>
            </div>
            <a id="linkActive" style="text-transform: capitalize" href="/account"><i class="fa fa-user iconNav"></i>{{=it.user.username}}</a>
            <a id="linkActive" href="/user/{{=it.user.username}}"><i class="fa fa-address-card iconNav"></i>Profile</a>
            <a id="linkActive" href="/play"><i class="fa fa-play iconNav"></i>Play</a>
            <a id="linkActive" href="/leaderboard"><i class="fa fa-sort-amount-up iconNav"></i>Leaderboard</a>
            <a id="linkActive" href="/stats"><i class="fa fa-table iconNav"></i>Stats</a>
            <a id="linkActive" href="/faq"><i class="fa fa-question-circle iconNav"></i>FAQ</a>
        </div>
        <div class="balance-bits">
            <span>RVN: </span>
            <span class="balance">{{#def.format:{n: it.user.balance_satoshis, decimals:8} }}</span>
        </div>
        <a class="icon" id="clickMe"><i class="fa fa-bars"></i></a>
        {{??}}
        <div id="topMobile">
            <a href="/">
                <img src="/img/mainLogo.png">
            </a>
        </div>
        <div id="navLinks">
            <a id="linkActive" href="/leaderboard"><i class="fa fa-sort-amount-up iconNav"></i>Leaderboard</a>
            <a id="linkActive" href="/stats"><i class="fa fa-table iconNav"></i>Stats</a>
            <a id="linkActive" href="/faq"><i class="fa fa-question-circle iconNav"></i>FAQ</a>
            <a id="linkActive" href="/register"><i class="fa fa-user-plus iconNav"></i>Register</a>
            <a id="linkActive" href="/login"><i class="fa fa-sign-in-alt iconNav"></i>Log in</a>
        </div>
        <a class="icon" id="clickMe"><i class="fa fa-bars"></i></a>
        {{?}}
    </div>
</header>