<head>
    <title>{{# def.page_title || 'Social Ravencoin Gambling' }} -- made2crash.com</title>
    <link rel="shortcut icon" href="/img/favicon-96x96.png" type="image/x-icon">
    <link rel="icon" href="/img/favicon-96x96.png" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    {{?it.table}}
        <link rel="stylesheet" href="{{? it.buildConfig }} /old/css/{{=it.buildConfig['game-old.css']}} {{??}} /client_old/css/game.css {{?}}" />
    {{??}}
        <link rel="stylesheet" href="{{? it.buildConfig }} /old/css/{{=it.buildConfig['app-old.css']}} {{??}} /client_old/css/app.css {{?}}" />
    {{?}}
    <script src="{{? it.buildConfig }}/old/lib/zepto/zepto.min.js{{??}}/client_old/lib/zepto/zepto.min.js{{?}}"></script>
</head>