{{##def.format:param:{{=(param.n/1e8).toFixed(param.decimals).toString()}}#}}

<!DOCTYPE html>
<html>
{{#def.include('head_new')}}

<body>
    <div class="container-bg wrap">
        <!-- <div class="sliding-background"> -->

        {{#def.include('header_new')}}

        {{? it.warning }}
        <div class="warning-wrap">{{!it.warning}}</div>
        {{?? it.success}}
        <div class="success-wrap">{{!it.success}}</div>
        {{??it.user }}

        {{?it.user.error}}

        <div class="warning-wrap">
            {{!it.user.error}}
        </div>
        <!-- Advice for new users joining the game -->
        {{??it.user.advice == 'new'}}
        <!-- <div class="success-wrap">
                Welcome to made2crash.com, to start you can just watch the current games... have fun :D
            </div> -->
        {{??it.user.advice == 'received'}}
        {{?? it.user.advice}}
        <div class="success-wrap">
            {{!it.user.advice}}
        </div>
        {{??it.user && it.user.balance_satoshis < 1e3 }} {{?it.user.eligible == true}} {{?}} {{?}} {{?}} <div class="page-content">
            {{#def.content || ""}}
    </div>

    <!-- </div> -->
    </div>

    <script>
        button = document.getElementById("clickMe");
        button.addEventListener("click", toggleNav);

        function toggleNav() {
            var navLinks = document.getElementById("navLinks");
            if (navLinks.style.display === "block") {
                navLinks.style.display = "none";
            } else {
                navLinks.style.display = "block";
            }
        }

        linkActive = document.querySelectorAll('#linkActive');
        newLink = Array.from(linkActive);

        for (let i = 0; i < newLink.length; i++) {
            if (document.location.href === newLink[i].href) {
                newLink[i].className = 'navActive'
            }
        }
    </script>
</body>

</html>